{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
<style>
  td.details-control:before
  {
      content: '+';
      cursor: pointer;
  }

  tr.shown td.details-control:before
  {
      content: '-';
  }
  .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 1s;
  }

  .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
  }

</style>
{% endblock css%}
{% block js %}

<script type="text/javascript">

  $(document).ready(function() {

    $('#datafileTable').DataTable({paging:false});

    $('#columnsTable').DataTable({paging:false});

    $('#columnsMatchTable').DataTable({paging:false});

    $('#selectAllChannels').click ( function()
     {
       $("input[name='spectrogramChannel']").prop('checked', $(this).is(':checked'));
     }
    );

   //for dynamic table


  });

  function checkPointPs(index){
    array1 = ['IntFire1', 'IntFire2', 'VecStim', 'NetStim'];
    value = $("#popCellModel" + index).val();
    if (array1.indexOf(value) != -1) {
           $("#pointPsPanel" + index).css("display", "block");
    } else {
      $("#pointPsPanel" + index).css("display", "none");
    }
  }

  function submitAnalyzeFileForm(obj){

    $("#analyzeFileSelectFactorsForm").submit();
  }

  $(function() {
 $( "#parameterTabs" ).tabs();
});

$( function() {
   var availablePointPs = [
     "NetStim",
     "VecStim",
     "IntFire1",
     "IntFire2",
   ];
   $( "#popCellModel0" ).autocomplete({
     source: availablePointPs
   });
  } );

</script>

{% endblock js %}

{% block content %}
<form method = "post" id="analyzeFileSelectFactorsForm" name="analyzeFileSelectFactorsForm" action="/frontEnd/submitAnalysis/">
  {% csrf_token %}
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
<!-- design matrix -->
 <div class="row">
  <!-- panel for sites -->
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
      	    <a data-toggle="collapse" href="#parametersPanel">
      	      Net Params. (Click to toggle this panel.)
      	    </a>
      	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div style="overflow-y:auto;height:800px;" id="parametersPanel" class="panel-body panel-collapse collapse in" -webkit-scrollbar>
        <p>Please click on related tab to see details.</p>
 	        <div id="parameterTabs">
   	      <ul>
     	      <li><a href="#netGeometryTab">Geometry</a></li>
            <li><a href="#netConnectionTab">Connnection</a></li>
   	      </ul>
          <!-- start net geometry tab -->
 	        <div id="netGeometryTab">

            <!-- scale: Scale factor multiplier for number of cells (default: 1)
            shape: Shape of network: ‘cuboid’, ‘cylinder’ or ‘ellipsoid’ (default: ‘cuboid’)
            sizeX: x-dimension (horizontal length) network size in um (default: 100)
            sizeY: y-dimension (vertical height or cortical depth) network size in um (default: 100)
            sizeZ: z-dimension (horizontal depth) network size in um (default: 100) -->

      	    <div class="form-group">

              <label>Scale:</label>
      	      <input class="form-control" name ="netScale" value="1">
      	      <p class="help-block">Scale factor multiplier for number of cells (default: 1).</p>

      	    </div>

      	    <div class="form-group">

              <label>Shape:</label>
      	      <select class="form-control" name ="netShape" id = "netShape">
                <option value ="cuboid" selected>cuboid</option>
                <option value ="cylinder">cylinder</option>
                <option value ="ellipsoid">ellipsoid</option>
              </select>

      	      <p class="help-block">Shape of network: ‘cuboid’, ‘cylinder’ or ‘ellipsoid’ (default: ‘cuboid’).</p>

      	    </div>

      	    <div class="form-group">

              <label>SizeX:</label>
      	      <input class="form-control" name ="netSizeX" value="100">
      	      <p class="help-block">X-dimension (horizontal length) network size in um (default: 100).</p>

      	    </div>

      	    <div class="form-group">

              <label>SizeY:</label>
      	      <input class="form-control" name ="netSizeY" value="100">
      	      <p class="help-block">Y-dimension (horizontal length) network size in um (default: 100).</p>

      	    </div>

      	    <div class="form-group">

              <label>SizeZ:</label>
      	      <input class="form-control" name ="netSizeZ" value="100">
      	      <p class="help-block">Z-dimension (horizontal length) network size in um (default: 100).</p>

      	    </div>

          </div>
          <!-- end net geometry tab -->
          <!-- start net Connection tab -->
 	        <div id="netConnectionTab">

            <!-- defaultWeight: Default connection weight, in ms (default: 1)
            defaultDelay: Default connection delay, in ms (default: 1)
            propVelocity: Conduction velocity in um/ms (e.g. 500 um/ms = 0.5 m/s) (default: 500)
            scaleConnWeight: Connection weight scale factor (excludes NetStims) (default: 1)
            scaleConnWeightNetStims: Connection weight scale factor for NetStims (default: 1)
            scaleConnWeightModels: Connection weight scale factor for each cell model, e.g. {‘HH’: 0.1, ‘Izhi’: 0.2} (default: {})
            popTagsCopiedToCells: List of tags that will be copied from the population to the cells (default: [‘pop’, ‘cellModel’, ‘cellType’]) -->

      	    <div class="form-group">

              <label>Default Weight:</label>
      	      <input class="form-control" name ="defaultWeight" id ="defaultWeight" value="1">
      	      <p class="help-block">Default connection weight, in ms (default: 1).</p>

      	    </div>

      	    <div class="form-group">

              <label>Default Delay:</label>
      	      <input class="form-control" name ="defaultDelay" id ="defaultDelay" value="1">
      	      <p class="help-block">Default connection weight, in ms (default: 1).</p>

      	    </div>

      	    <div class="form-group">

              <label>Propagation Velocity:</label>
      	      <input class="form-control" name ="propVelocity" id ="propVelocity" value="500">
      	      <p class="help-block"> Conduction velocity in um/ms (e.g. 500 um/ms = 0.5 m/s) (default: 500).</p>

      	    </div>

      	    <div class="form-group">

              <label>Scale Connection Weight:</label>
      	      <input class="form-control" name ="scaleConnWeight" id ="scaleConnWeight" value="1">
      	      <p class="help-block">Default connection weight, in ms (default: 1).</p>

      	    </div>

      	    <div class="form-group">

              <label>Scale Connection Weight Net Stims:</label>
      	      <input class="form-control" name ="scaleConnWeightNetStims" id ="scaleConnWeightNetStims" placeholder="{}">
      	      <p class="help-block">Connection weight scale factor for each cell model, e.g. {‘HH’: 0.1, ‘Izhi’: 0.2} (default: {}).</p>

      	    </div>

      	    <div class="form-group">

              <label>Scale Connection Weight Models:</label>
      	      <input class="form-control" name ="scaleConnWeightModels" id ="scaleConnWeightModels" placeholder="{}">
      	      <p class="help-block">Connection weight scale factor for each cell model, e.g. {‘HH’: 0.1, ‘Izhi’: 0.2} (default: {}).</p>

      	    </div>

      	    <div class="form-group">

              <label>Pop tags copied to cells:</label>
      	      <input class="form-control" name ="popTagsCopiedToCells" id ="popTagsCopiedToCells" placeholder="['pop', 'cellModel', 'cellType']">
      	      <p class="help-block">List of tags that will be copied from the population to the cells (default: ['pop', 'cellModel', 'cellType']).</p>

      	    </div>

          </div>
          <!-- end net geometry tab -->

        </div>
        <!-- end parameters tab -->

      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- design matrix -->
 <div class="row">
  <!-- panel for sites -->
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
      	    <a data-toggle="collapse" href="#popParametersPanel">
      	      Pop Params. (Click to toggle this panel.)
      	    </a>
      	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div style="overflow-y:auto;height:800px;" id="popParametersPanel" class="panel-body panel-collapse collapse" -webkit-scrollbar>

          <div class="panel-body">

  		        <div class="panel-group" id="accordion2">

                <!-- start up panel -->
        		    <div class="panel panel-success" style="overflow-x:auto;">

                  <div class="panel-heading">

            			  <h4 class="panel-title">

            				<a data-toggle="collapse" data-parent="#accordion2" href="#popParamsSinglePanel-0">
            				  Pop Param &nbsp;(  Please click to toggle this panel. )
            				</a>
            			      </h4>
            			</div>
                  <!-- end div panel heading -->
            			<div id="popParamsSinglePanel-0" class="panel-collapse collapse in" style="height:500px;overflow-y:auto;"  -webkit-scrollbar>
            			    <div class="panel-body">

                    	    <div class="form-group">

                              <label>Cell Type:</label>
                      	      <input class="form-control" name ="popCellType0" id ="popCellType" value="">
                              <p class="help-block">Arbitrary cell type attribute/tag assigned to all cells in this population.
  e.g. ‘Pyr’ (for pyramidal neurons) or ‘FS’ (for fast-spiking interneurons).</p>

                    	    </div>

                    	    <div class="form-group">

                            <label>Num Cells: </label>
                    	      <input type = "text" style="width:50px;" name ="numCells" id ="numCells" value="">
                            &nbsp;
                            <label>Density: </label>
                    	      <input type = "text" style="width:50px;" name ="density" id ="density" value="">
                            &nbsp;
                            <label>Grid Spacing: </label>
                    	      <input type = "text" style="width:50px;" name ="gridSpacing" id ="gridSpacing" value="">
                    	      <p class="help-block"> The total number of cells in this population, the density in neurons/mm3, or the fixed grid spacing (only one of the three is required).
.</p>

                    	    </div>

                    	    <div class="form-group">

                            <label>xRange or xnormRange: </label>
                    	      <input type = "text" style="width:50px;" name ="xRange" id ="xRange" value="">
                            &nbsp;
                            <label>yRange or ynormRange: </label>
                            <input type = "text" style="width:50px;" name ="yRange" id ="yRange" value="">
                            &nbsp;
                            <label>zRange or znormRange: </label>
                            <input type = "text" style="width:50px;" name ="zRange" id ="zRange" value="">
                    	      <p class="help-block">Range for absolute value in um (e.g. [100,200]), or normRange for normalized value between 0 and 1 as fraction of size (e.g. [0.1,0.2]).
                            .</p>

                    	    </div>

                    	    <div class="form-group">

                            <label>Cell Model:&nbsp;<a href="#" data-toggle="tooltip" title="Arbitrary cell model attribute/tag assigned to all cells in this population.
e.g. ‘HH’ (standard Hodkgin-Huxley type cell model) or ‘Izhi2007’ (Izhikevich 2007 point neuron model).<br/>If the cellModel is a valid point process like VecStim or NetStim, additional parameters can be specified.">?</a>
</label>

                    	         <input class="form-control" name ="popCellModel0" id ="popCellModel0" value="" onblur="javascript:checkPointPs('0');">
                    	      <p class="help-block">Arbitrary cell model attribute/tag assigned to all cells in this population.
e.g. ‘HH’ (standard Hodkgin-Huxley type cell model) or ‘Izhi2007’ (Izhikevich 2007 point neuron model).</p>

                    	    </div>

                          <!-- point ps panel -->
                  		    <div class="panel panel-warning" style="display:none;overflow-x:auto;" id = "pointPsPanel0">

                            <div class="panel-heading">

                      			  <h4 class="panel-title">

                      				<a data-toggle="collapse" data-parent="#accordion2" href="#popParamsPointPs-0">
                      				  Pop Param point Ps &nbsp;(  Please click to toggle this panel. )
                      				</a>
                      			      </h4>
                      			</div>

                            <div id="popParamsPointPs-0" class="panel-collapse collapse in" style="height:400px;overflow-y:auto;"  -webkit-scrollbar>
                      			    <div class="panel-body">

                                  <!-- interval - Spike interval in ms.
                                  rate - Firing rate in Hz (note this is the inverse of the NetStim interval property).
                                  noise - Fraction of noise in NetStim (0 = deterministic; 1 = completely random).
                                  start - Time of first spike in ms (default = 0).
                                  number - Max number of spikes generated (default = 1e12)
                                  seed - Seed for randomizer (optional; defaults to value set in simConfig.seeds['stim'])
                                  spkTimes (only for ‘VecStim’) - List of spike times (e.g. [1, 10, 40, 50], range(1,500,10), or any variable containing a Python list)
                                  pulses (only for ‘VecStim’) - List of spiking pulses; each item includes the start (ms), end (ms), rate (Hz), and noise (0 to 1) pulse parameters. See example below. -->

                                  <div class="form-group">
                                      <label>Interval:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">Spike interval in ms.</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Rate:</label>
                              	      <input class="form-control" name ="pointpsRate0" id ="pointpsRate0" value="">
                                      <p class="help-block">Firing rate in Hz (note this is the inverse of the NetStim interval property).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Noise:</label>
                              	      <input class="form-control" name ="noise0" id ="noise0" value="">
                                      <p class="help-block">Fraction of noise in NetStim (0 = deterministic; 1 = completely random).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Start:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">Time of first spike in ms (default = 0).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Number:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">Max number of spikes generated (default = 1e12).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Seed:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">Seed for randomizer (optional; defaults to value set in simConfig.seeds['stim']).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>SpkTimes:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">(only for ‘VecStim’) - List of spike times (e.g. [1, 10, 40, 50], range(1,500,10), or any variable containing a Python list).</p>
                            	    </div>
                                  <div class="form-group">
                                      <label>Pulses:</label>
                              	      <input class="form-control" name ="interval0" id ="interval0" value="">
                                      <p class="help-block">(only for ‘VecStim’) - List of spiking pulses; each item includes the start (ms), end (ms), rate (Hz), and noise (0 to 1) pulse parameters. See example below.</p>
                            	    </div>


                                </div>
                            </div>

                          </div>
                          <!-- end point ps panel -->
            			    </div>
                      <!-- end panel body -->
            			</div>
                  <!-- end detail param div -->
              </div>
              <!-- end inner panel -->
            </div>
            <!-- end panel group -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- end enclosing div -->
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-lg-12 -->
</div>
<!-- end row -->

<p class="text-center">
   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "analyzeFileSelectFactorSubmitButton" id="analyzeFileSelectFactorSubmitButton" disabled>Submit</button>&nbsp;&nbsp;
</p>

</form>
{% endblock content %}
