{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}
<script type="text/javascript">

$(document).ready(function(){
});

</script>
{% endblock js %}
{% block content %}
<form action="/frontend/analysisParametersSelect/"  enctype="multipart/form-data" method = "post" id = "landingForm" >
    {% csrf_token %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="">
        <div class="row jumbotron" style = "text-align:left;">
	  <p> Welcome to NetPyne GUI interface.</p>

	  <p>You can either import a cell, or set parameters for simulation.
	  <p>To continue, please click on a button below.</p>

	  <div class="col-md-2 col-md-offset-3">
	    <table border = "0" style="text-align:center;" cellspacing="5" cellpadding = "5">
	      <tr>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "0" name = "chronuxHomeButton" id = "chronuxHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;" disabled>Import Cell</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "1" name = "chronuxHomeButton" id = "chronuxHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;" >Set Parameters</button>
		</td>
	      </tr>
	    </table>
	  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
</form>
<!-- /.row -->
{% endblock content %}
