{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}
<script type="text/javascript">

$(document).ready(function(){
});

</script>
{% endblock js %}
{% block content %}
<form action="/lymePortal/processLiteratureLanding/"  enctype="multipart/form-data" method = "post" id = "landingForm" >
    {% csrf_token %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="">
        <div class="row jumbotron" style = "text-align:left;">
	  <p>The data in the lyme portal consists of 3 Data relevant to from Pubmed was extracted and processed in a pipeline. The relevant information is presented below. The user can either search the literature using primary or secondary lines of evidence, or view and search the information about associations with chemicals, disease. etc. These associations were computed from the primary literature, using statistical tests.</p>

	  <p>This portal provides a comprehensive repository to all data related to Lyme. This data includes gene expression data from lyme patients, sequence data from the lyme disease causing bacteria, data in medical literature about lyme.</p>

	  <p> To continue, please click on a button below.</p>

	  <div class="col-md2 col-md-offset-3">
	    <table border = "0" style="text-align:center;" cellspacing="5" cellpadding = "5">
	      <tr>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "0" name = "lymePortalLiteratureButton" id = "lymePortalLiteratureButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;" disabled>Primary Evidence</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "1" name = "lymePortalLiteratureButton" id = "lymePortalLiteratureButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;" disabled>Secondary Evidence</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "2" name = "lymePortalLiteratureButton" id = "lymePortalLiteratureButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;" disabled>Evidence Matrix</button>
		</td>
	      </tr>

	    </table>
	  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
</form>
<!-- /.row -->
{% endblock content %}
