{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}

<script>

  $(document).ready(function() {

  $('#contrastMatrixTable').DataTable();

  $('#designMatrixTable').DataTable();

  $('#phenotypeFileTable').DataTable();

  {% for contrastObj in contrastObjList%}   
    
    $('#geneUpTable-{{forloop.counter0}}').DataTable({"aaSorting": [], "order": [[ 4, "asc" ]] });
       
    $('#geneDownTable-{{forloop.counter0}}').DataTable({"aaSorting": [], "order": [[ 4, "asc" ]] });
    
  {% endfor %}
  });
  
  function submitCustomGeneList(obj){
  
      $("#customGeneListFlag").val("1");  

      $("#analyzeFileResultsForm").attr("action","/rnaseq/displayAnalysisDetail/");       

      $("#analyzeFileResultsForm").submit();
  }  

  function displayDatabases(obj){
  
      $("#downloadFlag").val("0");  

      $("#analyzeFileResultsForm").attr("action","/lymePortal/listDatabases/");       

      $("#analyzeFileResultsForm").submit();
  }  

  function submitGenesDetail(geneIds){

    $("#entrezIds").val(geneIds);
    $("#analyzeFileResultsForm").attr("action","/lymePortal/displayGeneDetails/");
    $("#analyzeFileResultsForm").submit();

  } 
  
  function showBoxPlot(geneIds){

    $("#entrezIds").val(geneIds);
    $("#analyzeFileResultsForm").attr("action","/lymePortal/showBoxPlots/");
    $("#analyzeFileResultsForm").submit();

  }   

  function submitDownloadData(obj){
  
    objId = obj.id;
    data = objId.split("-");
    
    if (data.length > 2){

      $("#downloadFlag").val("1");

      $("#upDownFlag").val(data[1]);
      $("#contrastNum").val(data[2]);
  
      $("#analyzeFileResultsForm").attr("action","/lymePortal/displayLimmaResults/");
      $("#analyzeFileResultsForm").submit();
      }

    }
    
  function submitShowPlots(obj){
  
    objId = obj.id;
    data = objId.split("-");
    
    if (data.length > 1){

      $("#downloadFlag").val("0");

      $("#contrastNum").val(data[1]);

      $("#cutOffUpLogFC").val($("#cutOffUpLogFC-"+data[1]));
      $("#cutOffUpPValue").val($("#cutOffUpPValue-"+data[1]));
      
      $("#cutOffDownLogFC").val($("#cutOffDownLogFC-"+data[1]));
      $("#cutOffDownPValue").val($("#cutOffDownPValue-"+data[1]));
  
      $("#analyzeFileResultsForm").attr("action","/lymePortal/showPlots/");
      $("#analyzeFileResultsForm").submit();
      }

    }    
    
  function submitApplyFilter(obj){
  
    $("#downloadFlag").val("0");  
    objId = obj.id;
    data = objId.split("-");
    
    if (data.length > 2){

      $("#applyFilter").val("1");

      $("#upDownFlag").val(data[1]);
      $("#contrastNum").val(data[2]);
  
      $("#analyzeFileResultsForm").attr("action","/lymePortal/displayLimmaResults/");
      $("#analyzeFileResultsForm").submit();

    }    
  }   

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Results of analysis of JHU Data Set</h1>
    <p>The JHU data set was run through an RNA-Seq analysis pileline in order to understand the changes in gene expression among patients who had lyme, and how the expression profiles changed as a resutls of adminsitration of antibiotics.</p>
    <p>
    In the JHU study, the effects of administration of antibiotics to a set of lyme patients was investigated.</p>
    <p>Linear regression analysis (LIMMA) was performed on the samples taken at the three time points - at the beginning of the trial(v1), 4 months after adminsitration of antibiotics (v2) and six months after the beginning of the trial. The panel below shows the differentially expressed genes when the expression values at the different time points were compared. Results of each comparison or contrast are presented in separate panels.</p>  
      <p>
       To view the results of gene set expression analysis, please click the button below.
      </p>
      <p>      
	  <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "analyzeFileListAnalysisButton" id="analyzeFileListAnalysisButton" onclick = "javascript:displayDatabases(this);" > Pathway Analysis</button>
      </p>
    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id="analyzeFileResultsForm" name="analyzeFileResultsForm" enctype="multipart/form-data" action="/lymePortal/listAnalyses/">
{% csrf_token %} 

<input type="hidden" value="{{upDownFlag}}" name="upDownFlag" id ="upDownFlag"/> 
<input type="hidden" value="{{contrastNum}}" name="contrastNum" id ="contrastNum"/> 
<input type="hidden" value="" name="entrezIds" id ="entrezIds"/> 
<input type="hidden" value="0" name="downloadFlag" id ="downloadFlag"/> 
<input type="hidden" value="0" name="applyFilter" id ="applyFilter"/> 

<input type="hidden" value="0" name="cutOffUpLogFC" id ="cutOffUpLogFC"/> 
<input type="hidden" value="0" name="cutOffUpPValue" id ="cutOffUpPValue"/> 

<input type="hidden" value="0" name="cutOffDownLogFC" id ="cutOffDownLogFC"/> 
<input type="hidden" value="0" name="cutOffDownPValue" id ="cutOffDownPValue"/> 

 <div class="row">  
  <!-- panel for sites -->  
  <div class="col-lg-12">
      
    <!-- Example row of columns -->   
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" data-parent="#panels1" href="#contrastListPanel">
	     List of Contrasts </b>&nbsp;( Please click to toggle this panel. )
	  </a>
	</h4>
      </div>
      <div id="contrastListPanel" class="panel-collapse collapse in">
            <div class="panel-body" >
      <br/>
      <p>The up and down regulated genes for each contrast are shown below. <br/>
      This list is filtered based on the cutoff pValues and log fold change. Default values are used for the filter. If you wish a to use a different set of filter values, please enter them below and refresh the list by clicking the submit button at the bottom of the screen.<br/> 
      Each column in the tables below can be sorted by clicking on the column title. <br/>
      To view the relevant literature information for a differentially expressed genes, please click the literature button on the relevant row. To view a graphical display on how the expression values changed for hte gene across samples in the different time points, please click on the BoxPlot button. <br/>
      To minimise browser memory overload, only the top 200 genes are shown in each panel of differentially expressed genes.</p>
	  
      {% for contrastObj in contrastObjList%}   
      
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#contrastPanel-{{forloop.counter0}}">
	  	   {{ contrastObj.contrast }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="contrastPanel-{{forloop.counter0}}" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		  <div class="panel-group" id="accordion2">
		    <!-- start up panel -->
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#contrastsUpPanel-{{forloop.counter0}}">
				  Up Regulated Genes &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="contrastsUpPanel-{{forloop.counter0}}" class="panel-collapse collapse" style="height:400px;overflow-y:auto;"  -webkit-scrollbar>
			    <div class="panel-body">
			      <p>&nbsp;</p>
      
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff pValue:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffUpPValue-{{forloop.counter0}}" name ="cutOffUpPValue-{{forloop.counter0}}" value="{{contrastObj.cutOffUpPValue}}" />
				</div>
				<p class="help-block">Please select cutoff pValue to filter lists below.</p>
			      </div>
			
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff log FC:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffUpLogFC-{{forloop.counter0}}" name ="cutOffUpLogFC-{{forloop.counter0}}" value="{{contrastObj.cutOffUpLogFC}}" />
				</div>
				<p class="help-block">Please select cutoff logFC to filter lists below.</p>
			      </div>	
			      
			     <p>
				<button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton-0-{{forloop.counter0}}" onclick = "javascript:submitApplyFilter(this);" >Apply Filter</button>&nbsp;&nbsp;				     
				<button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDataButton-{{forloop.counter0}}" id="submitDownloadDataButton-0-{{forloop.counter0}}" onclick = "javascript:submitDownloadData(this);" >Download Filtered Records</button>&nbsp;&nbsp;	
				<button type="submit" class="btn btn-primary btn-lg" value = "0" name = "showPlotsButton-{{forloop.counter0}}" id="showPlotsButton-0-{{forloop.counter0}}" onclick = "javascript:submitShowPlots(this);">Scatter Plot</button>&nbsp;&nbsp;			     
				
			     </p>			      
			
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" id = "geneUpTable-{{forloop.counter0}}" >
				 <thead>
				   <tr>
				     <th>Gene Name</th>
				     <th>Log FC (Limma)</th>
				     <th>t</th>	
				     <th>P Value (Limma)</th>					     
				     <th>Adj. P Value (Limma)</th>	
				     <th>Literature</th>	
				     <th>Box Plot</th>	
				   </tr>
				 </thead>
				 <tbody>
				   {% for geneUpObj in contrastObj.geneUpObjList %}
				    <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
				      <td>
					{{geneUpObj.geneSymbol}}&nbsp;<a href='https://www.ncbi.nlm.nih.gov/gene/{{ geneUpObj.geneId }}' target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
				      </td>
				      <td>
					{{geneUpObj.logFC}}
				      </td>
				      <td>
					{{geneUpObj.tValue}}
				      </td>
				      <td>
					{{geneUpObj.pValue}}
				      </td>	
				      <td>
					{{geneUpObj.adjustedPValue}}
				      </td>
				      <td>
				       <button type="submit" class="btn btn-primary btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:submitGenesDetail('{{geneUpObj.geneId}},');">Literature</button>		 
				      </td>
				     <td>
				      <button type="submit" class="btn btn-primary btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:showBoxPlot('{{geneUpObj.geneId}},');">Box Plot</button>		 
				     </td>				      
				    </tr>				   
				   {% endfor %}
				 </tbody>
			       </table>		    
			     </div>

			   </div>
			</div>
			
		    </div>
		    <!-- end up panel -->
		    <!-- start down panel -->
		    <div class="panel panel-danger" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion2" href="#contrastsDownPanel-{{forloop.counter0}}">            
				  Down Regulated Genes &nbsp;(  Please click to toggle this panel. )
			      </a>
			    </h4>
			</div>
			<div id="contrastsDownPanel-{{forloop.counter0}}" class="panel-collapse collapse" style="height:400px;overflow-y:auto;"  -webkit-scrollbar>
			  <div class="panel-body"> 
			      <p>&nbsp;</p>
      
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff pValue:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffDownPValue-{{forloop.counter0}}" name ="cutOffDownPValue-{{forloop.counter0}}" value="{{contrastObj.cutOffDownPValue}}" />
				</div>
				<p class="help-block">Please select cutoff pValue to filter lists below.</p>
			      </div>
			
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff log FC:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffDownLogFC-{{forloop.counter0}}" name ="cutOffDownLogFC-{{forloop.counter0}}" value="{{contrastObj.cutOffDownLogFC}}" />
				</div>
				<p class="help-block">Please select cutoff logFC to filter lists below.</p>
			      </div>
			      
			     <p>
				<button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-1" id="applyFilterButton-1-{{forloop.counter0}}" onclick = "javascript:submitApplyFilter(this);">Apply Filter</button>&nbsp;&nbsp;				     
				<button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDEGButton" id="submitDownloadDataButton-1-{{forloop.counter0}}" onclick = "javascript:submitDownloadData(this);" >Download Filtered Records</button>&nbsp;&nbsp;			     
			     </p>	
			     
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" id = "geneDownTable-{{forloop.counter0}}" >
				 <thead>
				   <tr>
				     <th>Gene Name</th>
				     <th>Log FC (Limma)</th>
				     <th>t</th>	
				     <th>P Value (Limma)</th>	
				     <th>Adj. P Value (Limma)</th>	
				     <th>Literature</th>	
				     <th>Box Plot</th>	
				   </tr>
				 </thead>
				 <tbody>
				   {% for geneDownObj in contrastObj.geneDownObjList %}
				    <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
				 
				      <td>
				      
					{{geneDownObj.geneSymbol}}&nbsp;<a href='https://www.ncbi.nlm.nih.gov/gene/{{ geneDownObj.geneId }}' target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>

				      </td>
			      
				      <td>
					{{geneDownObj.logFC}}
				      </td>
				      <td>
					{{geneDownObj.tValue}}
				      </td>
				      <td>
					{{geneDownObj.pValue}}
				      </td>				      
				      <td>
					{{geneDownObj.adjustedPValue}}
				      </td>	
				      <td>
				       <button type="submit" class="btn btn-primary btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:submitGenesDetail('{{geneDownObj.geneId}},');">Literature</button>		 
				      </td>
				     <td>
				      <button type="submit" class="btn btn-primary btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:showBoxPlot('{{geneDownObj.geneId}},');">Box Plot</button>		 
				     </td>
				   </tr>               
				   {% endfor %}
				 </tbody>
			       </table>		    
			     </div>
			  </div>
			</div>

		    </div>
		    <!-- end down panel -->
		    
                   </div>
		  <!-- end contrast panel -->		    

		  </div>
		  <!-- end panel group -->			  
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   <!--</div>      -->
  {% endfor %}  	      
<p>
 To view the results of gene set expression analysis, please click the button below.
</p>
<p>      
    <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "analyzeFileListAnalysisButton" id="analyzeFileListAnalysisButton" onclick = "javascript:displayDatabases(this);" > Pathway Analysis</button>
</p>

   </div>
  <!--<!-- /.col-lg-12 -->  
<!--<!-- /.row -->

</div>

 <p>
 <div id = "expressionImageDiv" width = "400px;" height = "400px;"/>
</p>
</form>
{% endblock content %}
