{% extends "base.html" %}
{% block css %}
<style>
text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}

</style>

{% endblock css%}
{% block js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $('#evidenceTable').DataTable(        {"scrollX": true});
    $('#pubmedTable').DataTable(        {"scrollX": true});
    
  });
  
  function submitFetchOmniDetail(entrezId, feature){

    $("#entrezId").val(entrezId);
    $("#feature").val(feature);
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  } 
    
  function submitFetchTermDetails(termId1, termId2, term1, term2){

    $("#termId1").val(termId1);
    $("#termId2").val(termId2);

    $("#term1").val(term1);
    $("#term2").val(term2);
    $("#dataFileForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#dataFileForm").submit();

  }     
    
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Literature Details</h1>
    <p>In the 2 panels below, information in the literature for the gene(s) of interest are displayed. The first panel shows data present in Pubmed, and the second panel shows the resutls of analysis of Pubmed data. </p> 
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/displayLimmaResults/">
 {% csrf_token %}
 
 <input type="hidden" value="" name="term1" id ="term1"/>
 <input type="hidden" value="" name="term2" id ="term2"/>
 <input type="hidden" value="" name="termId1" id ="termId1"/>
 <input type="hidden" value="" name="termId2" id ="termId2"/>
 <input type="hidden" value="" name="entrezId" id ="entrezId"/>
 <input type="hidden" value="" name="entrezIds" id ="entrezIds" value={{entrezIds}}/>
 <input type="hidden" value="" name="feature" id ="feature"/>
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
 
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Pubmed 
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <div class="table-responsive" >

	  <table id="pubmedTable" class="display" cellspacing="0" width="100%">

	    <thead>
	    
	      <th>Primary Term</th>
	      <th>Primary Term Type</th>
	      <th>Primary DBID</th>
	      <th>Secondary Term</th>
	      <th>Secondary Term Type</th>
	      <th>Secondary DBID</th>	      
	      <th>Relationship</th>
	      <th>Log Adjusted P Value</th>
	      <th>PMIDs</th>

	    </thead>
  
	    <tbody>
	    
           {% for rec in pubmedRecords %}
             <tr>
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>		  
		  <td>{{rec.7}}</td>
		  <td><a href="#" onclick="javascript:submitFetchTermDetails('{{rec.8}}','{{rec.9}}','{{rec.0}}','{{rec.3}}')">Articles</a></td>
	      </tr>
	    {% endfor %}
	    </tbody>
          </table>

         </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Evidence
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <div id="d3Display"></div>
        <div class="table-responsive" >
	  <table id="evidenceTable" class="display" cellspacing="0" width="100%">
	   <thead>
	      <tr >
		<th>Entrez Id</th>
		<th>Gene Symbol</th>	      
		<th>Chemical</th>
		<th>Disease</th>
		<th>Gene</th>	
		<th>SEA P</th>
		<th>Drug Bank</th>
		<th>Meta P</th>	
		<th>Skin P</th>
		<th>LCL P</th>
		<th>Fat P</th>
		<th>Proteomic</th>
		<th>Combined P: Meta &amp; Skin &amp; Proteomic</th>
		<th>Combined P: Meta &amp; Skin</th>
		<th>Combined P: &gt;&eq;2 {Meta | Skin | Proteomic}</th>

              </tr>
           </thead>
           <tbody>
	   
           {% for om in geneRecords %}
             <tr>
               <td><a href='https://www.ncbi.nlm.nih.gov/gene/{{ om.entrez_gene_id }}' target="_blank">{{om.entrezId}}</a></td>
               <td><a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ om.geneSymbol }}' target="_blank">{{om.geneSymbol}}</a></td>
               <td>
	       {% if om.chemicalNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','chemical');"> {% endif %}
	           {{om.chemicalNLPLink}}
	       {% if om.chemicalNLPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.diseaseNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','disease');"> {% endif %}
	           {{om.diseaseNLPLink}}
	       {% if om.diseaseNLPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.geneNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','gene');"> {% endif %}
	           {{om.geneNLPLink}}
	       {% if om.geneNLPLink %}</a>{% endif %}	       
	       </td>
               <td>
	       {% if om.seaLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','sea');"> {% endif %}
	           {{om.seaLink}}
	       {% if om.seaLink %}</a>{% endif %}
	       </td>	       
               <td>
	       {% if om.drugBankLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','drugbank');"> {% endif %}
	           {{om.drugBankLink}}
	       {% if om.drugBankLink %}</a>{% endif %}
	       </td> 	       
               <td>
	       {% if om.metaPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','meta');"> {% endif %}
	           {{om.metaP}}
	       {% if om.metaPLink %}</a>{% endif %}	       
	       </td>	       
               <td>
	       {% if om.skinPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','skin_p');"> {% endif %}
	           {{om.skinP}}
	       {% if om.skinPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.lclPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','lcl_p');"> {% endif %}
	           {{om.lclP}}
	       {% if om.lclPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.fatPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','fat_p');"> {% endif %}
	           {{om.fatP}}
	       {% if om.fatPLink %}</a>{% endif %}	       
	       </td>
               <td>
	       {% if om.proteomicsLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','proteomics');"> {% endif %}
	           {{om.proteomics}}
	       {% if om.proteomicsLink %}</a>{% endif %}
	       </td>
               <td>
	           {{om.combinedPMetaSkinProteomic}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkin}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkinProteomicGt2}}
	       </td>	       
	      </tr>
           {% endfor %}

           </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>

 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p>
</form>
{% endblock content %}
