{% extends "base.html" %}
{% block css %}
<style>
text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}

</style>

{% endblock css%}
{% block js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $('#pubmedTable').DataTable();
    
  });
  
  function submitFetchOmniDetail(entrezId, feature){

    $("#entrezId").val(entrezId);
    $("#feature").val(feature);
    $("#downloadFlag").val("0");    
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  } 
    
  function submitFetchPmidDetails(pmid1, pmid2){

    $("#pmid1").val(pmid1);
    $("#pmid2").val(pmid2);
    $("#downloadFlag").val("0");    
    $("#dataFileForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#dataFileForm").submit();

  }     
  
  function submitDownloadData(){
    $("#downloadFlag").val("1");
    $("#dataFileForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#dataFileForm").submit();

  }   

  function submitCancel(){
    $("#downloadFlag").val("0");
    $("#dataFileForm").attr("action","/lymePortal/literatureHome/");
    $("#dataFileForm").submit();

  }   
    
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Journal Info for {{term1}}, {{term2}}.</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/literatureHome/">
 {% csrf_token %}
 
 <input type="hidden" value="{{term1}}" name="term1" id ="term1"/>
 <input type="hidden" value="{{term2}}" name="term2" id ="term2"/>
 <input type="hidden" value="{{termId1}}" name="termId1" id ="termId1"/>
 <input type="hidden" value="{{termId2}}" name="termId2" id ="termId2"/> 
 <input type="hidden" value="0" name="downloadFlag" id ="downloadFlag"/> 

  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Journal Info for {{term1}}, {{term2}}. 
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <div class="table-responsive" >
	
	    <p>Because of large data sizes and browser limitations, only a maximum of 500 records are displayed. If you would like to full list, you can download the CSV file by clicking on the link below.</p>  
      <p>      
	  <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "analyzeFileListAnalysisButton" id="analyzeFileListAnalysisButton" onclick = "javascript:submitDownloadData(this);" > Download CSV</button>
      </p>

	  <table id="pubmedTable" class="display" cellspacing="0" width="100%">

	    <thead>
	    
	      <th>Journal</th>
	      <th>Title</th>
	      <th>Submission Date</th>
	      <th>Impact factor </th>	
	      <th>Relevance Score </th>		      
	      <th>Article Link</th>

	    </thead>

	    <tbody>
	    
           {% for rec in pmidDataRecs %}
             <tr>
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>
		  <td>{{rec.4}}</td>		  
		  <td><a href='{{rec.5}}' target="_blank"><i class="fa fa-external-link" aria-hidden="true"></a></td>		  
	      </tr>
	    {% endfor %}
	    </tbody>
          </table>

         </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p>
</form>
{% endblock content %}
