{% extends "base.html" %}
{% block css %}
<style>
text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}

@media only screen and (min-width : 1200px) {

    .container { width: 1900px; } 

}

</style>

{% endblock css%}
{% block js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

<script type="text/javascript">

  var filterArray = [{% for elem in filterList %}'{{elem}}',{% endfor %}];

  $(document).ready(function() {

    $('#evidenceTable').DataTable(        {"ordering": false, "scrollX": true, "searching": false, "bInfo":false, "autoWidth": false,"bPaginate":false} );
    $('#pubmedTable').DataTable(        {"scrollX": true});
    
    $('searchTerm').scrollPosReaload();   
    
  });
  
  function submitFetchOmniDetail(entrezId, feature){

    $("#entrezId").val(entrezId);
    $("#feature").val(feature);
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  } 
    
  function submitFetchTermDetails(termId1, termId2, term1, term2){

    $("#termId1").val(termId1);
    $("#termId2").val(termId2);

    $("#term1").val(term1);
    $("#term2").val(term2);
    $("#dataFileForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#dataFileForm").submit();

  }     
  
  function submitApplyFilter(obj){
  
    $("#downloadFlag").val("0");  
  
    $("#pageNum").val("0");
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  }     
  
  function submitForm(obj){

    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  }       

  function submitFilter(filterColumn, addRemoveFlag){

    $("#downloadFlag").val("0");
    $("#pageButton").val("");
  
    if (addRemoveFlag == 'add'){
      if ( $.inArray(filterColumn, filterArray) == -1) {
	filterArray.push(filterColumn);
      }
    }
    else if (addRemoveFlag == 'remove'){
      if ( $.inArray(filterColumn, filterArray) != -1) {
	filterArray.splice(filterArray.indexOf(filterColumn),1);
      }
    }
    $("#filterString").val(filterArray.join());
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  } 
  
  function submitSort(sortColumn){
  
    $("#downloadFlag").val("0");

    $("#sortColumn").val(sortColumn);
    $("#sortLymeEvidence").val("");
    $("#pageButton").val("");
        
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  }  
  
  function submitLymeEvidenceSort(){
  
    $("#downloadFlag").val("0");

    $("#sortLymeEvidence").val("1");
    $("#sortColumn").val("");

    $("#pageButton").val("");

    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  }  
  
  function submitDownloadData(){
  
    $("#downloadFlag").val("1");
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  } 
  
  function submitPaging(){
  
    $("#downloadFlag").val("0");
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  } 
  
  function submitFetchEvidence(obj){

    objId = obj.id;
    data = objId.split("-");
    
    if (data.length > 0 ){
      entrezId = data[1]; 
      $("#entrezId").val(entrezId);
      $("#dataFileForm").attr("action","/lymePortal/submitFetchEvidence/");
      $("#dataFileForm").submit();
    }
  }   
  
    function submitLymeEvidenceFilter(addRemoveFlag){

      $("#downloadFlag").val("0");
      $("#pageButton").val("");
      
      if (addRemoveFlag == 'add'){
	  if ( ($("#lymeEvidenceFilter").val() == "0") || ( $("#lymeEvidenceFilter").val() == "" ) ) {
	       $("#lymeEvidenceFilter").val("1");	  
	}
      } else if (addRemoveFlag == 'remove'){
	  if ( $("#lymeEvidenceFilter").val() == "1" ) {
	       $("#lymeEvidenceFilter").val("0");	  
	}
      }

      $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
      $("#dataFileForm").submit();

  }   
    
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Literature Details</h1>
    <p>In the 2 panels below, information in the literature for the gene(s) of interest are displayed. The first panel shows data present in Pubmed, and the second panel shows the resutls of analysis of Pubmed data. </p> 
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "get" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/literatureHome/">
 {% csrf_token %}
 
  <input type="hidden" value="0" name="downloadFlag" id ="downloadFlag"/> 
 
 <input type="hidden" value="" name="term1" id ="term1"/>
 <input type="hidden" value="" name="term2" id ="term2"/>
 <input type="hidden" value="" name="termId1" id ="termId1"/>
 <input type="hidden" value="" name="termId2" id ="termId2"/>
 <input type="hidden" value="" name="entrezId" id ="entrezId"/>
 <input type="hidden" value="" name="entrezIds" id ="entrezIds" value={{entrezIds}}/>
 <input type="hidden" value="" name="feature" id ="feature"/>
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
 
 <input type="hidden" value="{{filterString}}" name="filterString" id ="filterString"/>
 <input type="hidden" value="{{sortColumn}}" name="sortColumn" id ="sortColumn"/>
 <input type="hidden" value="{{sortDirection}}" name="sortDirection" id ="sortDirection"/>
 
 <input type="hidden" value="{{lymeEvidenceFilter}}" name="lymeEvidenceFilter" id ="lymeEvidenceFilter"/>
 <input type="hidden" value="{{sortLymeEvidence}}" name="sortLymeEvidence" id ="sortLymeEvidence"/>

 <input type="hidden" value="{{pageNum}}" name="pageNum" id ="pageNum"/>
 
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Evidence
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <p>Due to large data volumes, a max of 500 records are shown. You can download the full list by clicking on the Download button below.</p>
        <div class="table-responsive" >
	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Search Term:&nbsp;</b>
		</label>
		<input type="text" id ="searchTerm" name ="searchTerm" value="{{searchTerm}}" />
	      </div>
	      <p class="help-block">Search Term.</p>
	    </div>	
	    
	   <p>
	      <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton--{{forloop.counter0}}" onclick = "javascript:submitApplyFilter(this);">Submit</button>&nbsp;&nbsp;			     
	      <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDEGButton" id="submitDownloadDEGButton-0-{{forloop.counter0}}" onclick = "javascript:submitDownloadData(this);">Download Records</button><br/>			     
	   </p>	
	   <hr/>
	    
	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Sort by:&nbsp;</b>
		</label>
		{{sortColumn}}{% if sortLymeEvidence == "1" %}&nbsp;Lyme{% endif %} 
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Filter by:&nbsp;</b>
		</label>
		{% for elem in filterList %}<a href="#" onclick="javascript:submitFilter('{{elem}}','remove');"/><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;'{{elem}}',{% endfor %}{% if lymeEvidenceFilter == "1" %}<a href="#" onclick="javascript:submitLymeEvidenceFilter('remove');"/><i class="fa fa-times" aria-hidden="true"></i></a>&nbsp;Lyme{% endif %} 
	      </div>
	    </div>	
	    <p> Showing <b>{{fromRec}}-{{toRec}}</b> of <b>{{totalRecCount}}</b> Records.
	    
	  <table id="evidenceTable" class="display" cellspacing="0" width="100%">
	   <thead>
	      <tr >

		<th>Entrez Id
		</th>
		<th>Gene Symbol
		</th>	      
		<th>Chemical
		  <br/>
		  <a href="#" onclick="javascript:submitSort('chemical_nlp_p');"/>
      		  {% if sortColumn == "checmical_nlp_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		 <br/>
		  {% if "chemical_nlp_p" in filterList %}<a href="#" onclick="javascript:submitFilter('chemical_nlp_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('chemical_nlp_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>		
		</th>
		<th>Disease
		  <br/>
		  <a href="#" onclick="javascript:submitSort('disease_nlp_p');"/>
      		  {% if sortColumn == "disease_nlp_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "disease_nlp_p" in filterList %}<a href="#" onclick="javascript:submitFilter('disease_nlp_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('disease_nlp_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>		
		</th>
		<th>Gene
		  <br/>
		  <a href="#" onclick="javascript:submitSort('gene_nlp_p');"/>
      		  {% if "gene_nlp_p" in sortColumn %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "gene_nlp_p" in filterList %}<a href="#" onclick="javascript:submitFilter('gene_nlp_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('gene_nlp_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>				
		</th>	
		<th>SEA P
		  <br/>
		  <a href="#" onclick="javascript:submitSort('sea_p');"/>
      		  {% if sortColumn == "sea_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "sea_p" in filterList %}<a href="#" onclick="javascript:submitFilter('sea_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('sea_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>		
		</th>
		<th>Drug Bank
		  <br/>
		  <a href="#" onclick="javascript:submitSort('drugbank_p');"/>
      		  {% if sortColumn == "drugbank_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "drugbank_p" in filterList %}<a href="#" onclick="javascript:submitFilter('drugbank_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('drugbank_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>		
		</th>
		<th>Meta P
		  <br/>
		  <a href="#" onclick="javascript:submitSort('meta_p');"/>
      		  {% if sortColumn == "meta_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "meta_p" in filterList %}<a href="#" onclick="javascript:submitFilter('meta_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('meta_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>	
		<th>Skin P
		  <br/>
		  <a href="#" onclick="javascript:submitSort('skin_p');"/>
      		  {% if sortColumn == "skin_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "skin_p" in filterList %}<a href="#" onclick="javascript:submitFilter('skin_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('skin_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>LCL P
		  <br/>
		  <a href="#" onclick="javascript:submitSort('lcl_p');"/>
      		  {% if sortColumn == "lcl_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "lcl_p" in filterList %}<a href="#" onclick="javascript:submitFilter('lcl_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('lcl_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>Fat P
		  <br/>
		  <a href="#" onclick="javascript:submitSort('fat_p');"/>
      		  {% if sortColumn == "fat_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "fat_p" in filterList %}<a href="#" onclick="javascript:submitFilter('fat_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('fat_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>Proteomic
		  <br/>
		  <a href="#" onclick="javascript:submitSort('proteomics_p');"/>
      		  {% if sortColumn == "proteomics_p" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "proteomics_p" in filterList %}<a href="#" onclick="javascript:submitFilter('proteomics_p','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('proteomics_p','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>Combined P: Meta and Skin and Proteomic
		  <br/>
		  <a href="#" onclick="javascript:submitSort('combined_p_meta_skin_prot');"/>
      		  {% if sortColumn == "combined_p_meta_skin_prot" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "combined_p_meta_skin_prot" in filterList %}<a href="#" onclick="javascript:submitFilter('combined_p_meta_skin_prot','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('combined_p_meta_skin_prot','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>					
		</th>
		<th>Combined P: Meta and Skin
		  <br/>
		  <a href="#" onclick="javascript:submitSort('combined_p_meta_skin');"/>
      		  {% if sortColumn == "combined_p_meta_skin" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "combined_p_meta_skin" in filterList %}<a href="#" onclick="javascript:submitFilter('combined_p_meta_skin','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('combined_p_meta_skin','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>Combined P: >= 2 {Meta | Skin | Proteomic}
		  <br/>
		  <a href="#" onclick="javascript:submitSort('combined_p_meta_skin_prot_wildcard');"/>
      		  {% if sortColumn == "combined_p_meta_skin_prot_wildcard" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if "combined_p_meta_skin_prot_wildcard" in filterList %}<a href="#" onclick="javascript:submitFilter('combined_p_meta_skin_prot_wildcard','remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitFilter('combined_p_meta_skin_prot_wildcard','add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		</th>
		<th>
		  Lyme 
		  <br/>
		  <a href="#" onclick="javascript:submitLymeEvidenceSort();"/>
      		  {% if sortLymeEvidence == "1" %}{% if sortDirection == "1" %}<i class="fa fa-sort-up" aria-hidden="true"></i>{% elif sortDirection == "-1" %}<i class="fa fa-sort-down" aria-hidden="true"></i>{% endif %}{% else %}<i class="fa fa-sort" aria-hidden="true"></i>{% endif %}
		  </a>
		  <br/>
		  {% if lymeEvidenceFilter == "1" %}<a href="#" onclick="javascript:submitLymeEvidenceFilter('remove');"/><i class="fa fa-times" aria-hidden="true"></i><a>{% endif %} 
		  <a href="#" onclick="javascript:submitLymeEvidenceFilter('add');"/><i class="fa fa-filter" aria-hidden="true"></i><a>			
		  
		</th>
              </tr>	      
           </thead>
           <tbody>
	   
           {% for om in geneRecords %}
             <tr>
               <td>{{om.entrezId}}&nbsp;<a href='https://www.ncbi.nlm.nih.gov/gene/{{ om.entrez_gene_id }}' target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></td>
               <td>{{om.geneSymbol}}<a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ om.geneSymbol }}' target="_blank">&nbsp;<i class="fa fa-external-link" aria-hidden="true"></a></td>
               <td>
	       {% if om.chemicalNLPLink %}
		<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','chemical');"> 
		    <img src ="/static/img/checkbox_checked.png" style='width:15px;height:15px;'/>
		</a>
	       {% endif %}
	       </td>
               <td>
	       {% if om.diseaseNLPLink %}
		<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','disease');"> 
		     <img src ="/static/img/checkbox_checked.png" style='width:15px;height:15px;'/>
		 </a>
	       {% endif %}
	       </td>
               <td>
	       {% if om.geneNLPLink %}
		<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','gene');"> 
		    <img src ="/static/img/checkbox_checked.png" style='width:15px;height:15px;'/>
		</a>
	       {% endif %}	       
	       </td>
               <td>
	       {% if om.seaLink %}
		<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','sea');"> 
		    <img src ="/static/img/checkbox_checked.png" style='width:15px;height:15px;'/>
		</a>
	       {% endif %}
	       </td>	       
               <td>
	       {% if om.drugBankLink %}
	       <a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','drugbank');"> 
		    <img src ="/static/img/checkbox_checked.png" style='width:15px;height:15px;'/>	           
	       </a>
	       {% endif %}
	       </td> 	       
               <td>
	       {% if om.metaPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','meta');"> {% endif %}
	           {{om.metaP}}
	       {% if om.metaPLink %}</a>{% endif %}	       
	       </td>	       
               <td>
	       {% if om.skinPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','skin_p');"> {% endif %}
	           {{om.skinP}}
	       {% if om.skinPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.lclPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','lcl_p');"> {% endif %}
	           {{om.lclP}}
	       {% if om.lclPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.fatPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','fat_p');"> {% endif %}
	           {{om.fatP}}
	       {% if om.fatPLink %}</a>{% endif %}	       
	       </td>
               <td>
	       {% if om.proteomicsLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','proteomics');"> {% endif %}
	           {{om.proteomics}}
	       {% if om.proteomicsLink %}</a>{% endif %}
	       </td>
               <td>
	           {{om.combinedPMetaSkinProteomic}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkin}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkinProteomicGt2}}
	       </td>
               <td>
		{% if om.evidenceLink %}	       
	           <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitFetchEvidenceButton-{{om.entrezId}}" id="submitFetchEvidenceButton-{{om.entrezId}}" onclick = "javascript:submitFetchEvidence(this);">Lyme</button>
		{% endif %}		   
	       </td>	       
	      </tr>
           {% endfor %}

           </tbody>
          </table>
	   <p>
	      <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "pageButton" id="pageButtonPrev" onclick = "javascript:submitPaging(this);" {% if firstPage %} disabled {% endif %}>Prev</button>&nbsp;&nbsp;				     
	      <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "pageButton" id="pageButtonNext" onclick = "javascript:submitPaging(this);" {% if lastPage %} disabled {% endif %} >Next</button>			     
	   </p>		

        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>

 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" >Cancel</button><br/>&nbsp;

 </p>
</form>
{% endblock content %}
