{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#projectsTable').DataTable();

  } );

  function fetchAnalysis(obj){

    $("#projectForm").attr("action","/lymePortal/displayLimmaResults/");

    $("#projectForm").submit();
  }

  function listDatafiles(obj){

    projectId = obj.id.split("-")[1]

    $("#projectId").val(projectId);

    $("#projectForm").attr("action","/lymePortal/listDatafiles/");

    $("#projectForm").submit();
  }

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Feedback</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "projectForm" name = "projectForm" action="/lymePortal/submitFeedback/">
 {% csrf_token %}
 <input type="hidden" value="" name="projectId" id ="projectId"/>
 <p>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
 </p>
 <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#listProjectsPanel">
		Feedback. (Click to toggle this panel.)
	    </a>
	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div id="listProjectsPanel" class="panel-collapse collapse in" style="overflow-y:auto;height:450px;" -webkit-scrollbar>
      <div class="panel-body" >

	<p>
	  This is a form to collect feedback about the LymeMIND application.
	</p>
	
	<p>
	  * Required
	</p>

	<div class="form-group">
	  <div class="text">
	    <label>
	      <b>Email Address:&nbsp;*</b>
	    </label>
	    <input type="text" id ="emailAddress" name ="emailAddress" value="" required/>
	  </div>
	</div>	

	<div class="form-group">
	  <div class="text">
	    <label>
	      <b>What Type of feedback do you have?</b>
	    </label><br/>
	    <input type="radio" name="feedback" name="feedback_feature" value="feature" >Feature<br>
	    <input type="radio" name="feedback" name="feedback_bug" value="bug" >Bug<br>
	    <input type="radio" name="feedback" name="feedback_question" value="question" >Question<br>
	    <input type="radio" name="feedback" name="feedback_Other" value="other" >Other&nbsp;<input type="text" id ="otherFeedback" name ="otherFeedback" value="" />
	  </div>
	</div>	

	<div class="form-group">
	  <div class="text">
	    <label>
	      <b>Please enter your feedback or question here: *</b>
	    </label>
	    <textarea class="form-control" rows="5" id ="feedbackQuestion" name ="feedbackQuestion" value=""></textarea>	    
	  </div>
	</div>	

	<div class="form-group">
	  <div class="text">
	    <label>
	      <b>To email:</b>
	    </label>
	    <input type="text" id ="toEmail" name ="toEmail" value="" />
	  </div>
	</div>	
	
      </div>
      <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->
 
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" >Submit</button><br/>&nbsp;

 </p> 
</form>
{% endblock content %}
