{% extends "base.html" %}
{% block css %}
<style>
text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}
</style>

{% endblock css%}
{% block js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $('#evidenceTable').DataTable(        {"scrollX": true});

  });
  
  function submitFetchOmniDetail(entrezId, detailType){

    $("#entrezId").val(entrezId);
    $("#detailType").val(detailType);
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  } 
  
  function submitCancel(){

    $("#downloadFlag").val("0");
    $("#dataFileForm").attr("action","/lymePortal/evidenceMatrixHome/");
    $("#dataFileForm").submit();

  }   

  function submitDownload(){

    $("#downloadFlag").val("1");
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  }   

    
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Literature details</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/evidenceMatrixHome/">
 {% csrf_token %}
 <input type="hidden" value="" name="entrezId" id ="entrezId"/>
 <input type="hidden" value="" name="downloadFlag" id ="downloadFlag"/>

 <input type="hidden" value="" name="entrezIds" id ="entrezIds" value={{entrezIds}}/>
 <input type="hidden" value="" name="detailType" id ="detailType"/>
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
 
  <input type="hidden" id = "downloadFlag" name="downloadFlag" value="0" />

  <input type="hidden" id = "searchTerm" name="searchTerm" value="{{searchTerm}}" />

  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Evidence for gene {{gene}}
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <p>{{introHeader}}</p>
        <p>{{introText|safe}}</p>
      <p>      
	  Permanent Link:&nbsp;<a href="{{permanentLink}}" target="_blank" id = "permanentLink" name = "permanentLink">{{permanentLink}}</a>
      </p>
      <p>
	  <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "analyzeFileListAnalysisButton" id="analyzeFileListAnalysisButton" onclick = "javascript:submitDownloadData(this);" > Download CSV</button>
      </p>	
        <div class="table-responsive" >

	  <table id="evidenceTable" class="display" cellspacing="0" width="100%">
	   <thead>
	   
	      <tr>
	      
		{% if feature in featureList1 %}	
		
		  <th>Entrez Id</th>
		  <th>Dbid_1_type</th>
		  <th>Term_1</th>
		  <th>Dbid_2</th>
		  <th>dbid_2_type</th>
		  <th>Term_2</th>
		  <th>Adjpvalue</th>
		  <th>Coocurrence_count</th>
		  <th>Relation</th>
		  <th>Pvalue</th>
		  <th>Species</th>
		  
		{% elif feature == 'drugbank' %}
	
		  <th>Drugbank ID</th>
		  <th>Chemical Name</th>
		  <th>Type</th>
		  <th>UniProt ID</th>
		  <th>UniProt Name</th>
		  <th>Entrez ID</th>
		  <th>Gene Symbol</th>
		  <th>Organism</th>	
		  
		{% elif feature == 'sea' %}
	
		  <th>Chemical Name</th>
		  <th>Entrez ID</th>
		  <th>Gene Symbol</th>
		  <th>Organism</th>
		  
		{% elif feature == 'meta' %}
		
		  <th>Entrez ID</th>
		  <th>Gene Symbol</th>
		  <th>Tissue</th>
		  <th>Groups</th>
		  <th>Meta Effect Size</th>
		  <th>Meta Effect Size SE</th>
		  <th>Meta P</th>
		  <th>Meta Q</th>
		  <th>NSamp1</th>
		  <th>NSamp2</th>
		  <th>NStudies</th>
		  <th>Multi Entrez IDs</th>
		  <th>Multi Gene Symbols</th>

		{% elif feature == 'proteomics' %}
		
		  <th>Protein Name</th>
		  <th>Uni Prot ID</th>
		  <th>Entrez ID</th>
		  <th>Tissue</th>
		  <th>Groups</th>
		  <th>P</th>
		  <th>Mean Diff</th>
		  
		{% elif feature in eqtlList %}
		
		  <th>Entrez ID</th>
		  <th>Gene Symbol</th>
		  <th>Chr</th>
		  <th>Probe</th>
		  <th>Snp ID</th>
		  <th>Snp Info</th>
		  <th>Snp Coor</th>
		  <th>Type</th>
		  <th>P</th>
		  <th>Beta</th>
		  <th>SE Beta</th>
		  <th>TSS</th>
		  <th>TSE</th>	
		  <th>A1</th>	
		  <th>Freq A1</th>	
		  
	        {% endif %}		

              </tr>
           </thead>
           <tbody>
	   
           {% for rec in nlpDetailRecords %}
             <tr>
		{% if feature in featureList1 %}	
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>
		  <td>{{rec.7}}</td>
		  <td>{{rec.8}}</td>
		  <td>{{rec.9}}</td>
		  <td>{{rec.10}}</td>
		{% elif feature == 'drugbank' %}
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>
		  <td>{{rec.7}}</td>
		  <td>{{rec.8}}</td>
		{% elif feature == 'sea' %}
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>  
		{% elif feature == 'meta' %}
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>  
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>
		  <td>{{rec.7}}</td>
		  <td>{{rec.8}}</td>
		  <td>{{rec.9}}</td>		  
		  <td>{{rec.10}}</td>		  
		  <td>{{rec.11}}</td>		  
		  <td>{{rec.12}}</td>
		{% elif feature == 'proteomics' %}
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>  
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>	  
		{% elif feature in eqtlList %}
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>  
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>
		  <td>{{rec.7}}</td>
		  <td>{{rec.8}}</td>
		  <td>{{rec.9}}</td>		  
		  <td>{{rec.10}}</td>		  
		  <td>{{rec.11}}</td>		  
		  <td>{{rec.12}}</td>		  
		  <td>{{rec.13}}</td>		  
		  <td>{{rec.14}}</td>		  

		{% endif %}
	      </tr>
           {% endfor %}

           </tbody>
          </table>

         </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>

 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p>
</form>
{% endblock content %}
