{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}
<script type="text/javascript">

$(document).ready(function(){
});

</script>
{% endblock js %}
{% block content %}
<form action="/lymePortal/processLanding/"  enctype="multipart/form-data" method = "post" id = "landingForm" >
    {% csrf_token %}
<div class="row">
  <div class="col-lg-12">
    <div class="panel-body">
      <div class="">
        <div class="row jumbotron" style = "text-align:left;">
	  <p> Welcome to the LymeMIND portal.</p>

	  <p>This portal provides a comprehensive repository to all data related to Lyme. This data includes gene expression data from lyme patients, sequence data from the lyme disease causing bacteria, data in medical literature about lyme.</p>
	  <p>Additionally, the Institute of Next Generation Healtcare at Mt. Sinai 
	  has performed relevant biological data on sample data sets. </p>
	  <p>You can either browse the data repository, or search existing literature. To continue, please click on a button below.</p>
	  <p>Please note that in order to browse existing data sets, you will be requested to log in. You can log in by clicking <a href="/accounts/login">here</a>.</p>

	  <div class="col-md-2 col-md-offset-3">
	    <table border = "0" style="text-align:center;" cellspacing="5" cellpadding = "5">
	      <tr>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "0" name = "lymePortalHomeButton" id = "lymePortalHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Browse Data</button>
		</td>
		<td>
		  <button type="submit" class="btn btn-primary  " value = "1" name = "lymePortalHomeButton" id = "lymePortalHomeButton" style="margin-bottom: 5px;margin-right: 5px; width:200px;">Search Literature</button>
		</td>
	      </tr>

	    </table>
	  </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.col-lg-12 -->
</div>
</form>
<!-- /.row -->
{% endblock content %}
