{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">

  $(document).ready(function() {
    $('#filesTable').DataTable();
    
    {% for fileObj in datafileObjList%}   
      
      $('#dataTable-{{forloop.counter0}}').DataTable({"scrollX": true, 'iDisplayLength':10});
      
    {% endfor %}

    $('#databaseTable').DataTable({paging:false});

  $('#selectAllDatabases').click ( function()    
   {        
     $("input[name='database']").prop('checked', $(this).is(':checked'));
   }
  );
  
  } );
  
  function submitListDatabases(obj){
  
    $("#downloadFlag").val("0");  

    $("#databaseListForm").attr("action","/lymePortal/visualizationOptions/");

    $("#databaseListForm").submit();
  }
  
  function submitDownload(obj){
  
    $("#downloadFlag").val("1");
    
    objId = obj.id;
    data = objId.split("-");
    
    if (data.length > 1){    

      $("#databaseIndex").val(data[1]);
  
      $("#databaseListForm").attr("action","/lymePortal/listDatabases/");
  
      $("#databaseListForm").submit();
    
    }

  } 

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Results of Gene Set Enrichment analysis</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "databaseListForm" name = "databaseListForm" action="/lymePortal/visualizationOptions/">
 {% csrf_token %}
 <input type="hidden" value="" name="projectId" id ="projectId"/>
 <input type="hidden" value="" name="downloadFlag" id ="downloadFlag"/>
 <input type="hidden" value="0" name="databaseIndex" id ="databaseIndex"/>

 <p>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
 </p>
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        File List
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
     
            <p>
      Differentially expressed genes from linear regression analysis were further analyzed using gene set enrichment analysis. This analysis yielded enriched gene sets from different biological databases. You can select the databases of interest to view more details about the analysis.</p>
    
      {% for fileObj in datafileObjList%}         
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#filePanel-{{forloop.counter0}}">
	  	   {{ fileObj.datafileName }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="filePanel-{{forloop.counter0}}" class="panel-collapse collapse in" >
	      <div class="panel-body" >	 
      <p>
      Due to the large data size, only a few rows are displayed. To view the entire data set, please download the full file by clicking on the link below.</p>
      <p>
	 <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton--{{forloop.counter0}}" onclick = "javascript:submitDownload(this);" >Download File</button>&nbsp;&nbsp;				     
	     
      </p>   	      
		<div class="table-responsive">
		 <table class="table table-striped table-bordered table-hover" id = "dataTable-{{forloop.counter0}}" >
		   <thead>
		     <tr>
		       {% for column in fileObj.columns %}
		       <th>
		       {{column}}
		       </th>
		       {% endfor %}
		     </tr>
		   </thead>
		   <tbody>
		     {% for dataRow in fileObj.dataMatrix %}
		      <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
			  {% for elem in dataRow %}
  			  <td>
			    {{elem}}
  			  </td>
			  {% endfor %}			
		      </tr>				   
		     {% endfor %}
		   </tbody>
		 </table>		    
	       </div>
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   <!--</div>      -->
  {% endfor %}  	      

      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->
 <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#listProjectsPanel">
		Database list. (Click to toggle this panel.)
	    </a>
	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div id="listDatabasesPanel" class="panel-collapse collapse in" style="overflow-y:auto;height:300px;" -webkit-scrollbar>
      <div class="panel-body" >
        <p> Please select databases for visualisation of the results of pathway analysis. All databases are selected by default. However, selecting a smaller set might make the results more navigable and help understand which pathways / genes are have differential expression in a certain conditions. </p>
        <div class="table-responsive" >
	  <table id="databaseTable" class="display" cellspacing="0" width="100%">
	   <thead>
	      <tr >
		<th>Select<input type="checkbox" value="" name="selectAllDatabases" id="selectAllDatabases" checked="checked"></th>
		<th>Name</th>
              </tr>
           </thead>
           <tbody>
           {% for database in databases %}
             <tr>
		<td><input type="checkbox" id="database-{{forloop.counter0}}" name="database" value={{database}} checked></td>  
               <td> {{ database }}  </td>
             </tr>
           {% endfor %}
           </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->

 <p class="text-center">

  <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitAddProject(this);">Submit</button>&nbsp;&nbsp;&nbsp;
 </p>
</form>
{% endblock content %}
