{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#fileListTable').DataTable();

  } );

  function submitDataFileForm(obj){
      objId = obj.id;

      data = objId.split("-");

      if (data.length > 0){

         dataFileId = data[1];

      }

    $("#dataFileId").val(dataFileId);

    $("#dataFileForm").submit();
  }

  {% for fileObj in datafileObjList%}   
    
    $('#dataTable-{{forloop.counter0}}').DataTable({"scrollX": true, 'iDisplayLength':25});
    
  {% endfor %}
  
  function displayLimmaResults(obj){
  
    $("#downloadFlag").val("0");  

    $("#dataFileForm").attr("action","/lymePortal/displayLimmaResults/");

    $("#dataFileForm").submit();
  }  

  function submitListProjects(obj){

    $("#dataFileForm").attr("action","/lymePortal/listProjects/");

    $("#dataFileForm").submit();
  }      
  
  function submitDownloadData(){
    $("#downloadFlag").val("1");
    $("#dataFileForm").attr("action","/lymePortal/listDatafiles/");
    $("#dataFileForm").submit();

  }   

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Files for project {{project.name}}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/displayFileDetails/">
 {% csrf_token %} 
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="0" name="downloadFlag" id ="downloadFlag"/>

 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        File List
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
     
      {% for fileObj in datafileObjList%}   
      
      <p>The raw data from the gene expression analysis was run through an RNA-SEQ pipeline, and a counts matrix was generated. This is shown below</p>
      <p>
      Due to the large data size, only a few columns and rows are displayed. To view the entire data set, please download the full file by clikcing on the link below.</p>
      <p>Subsequently, linear regression analysis was performed on the data files in order to identify the differentially expressed genes at each time point. To view the analysis, please clink on the Analysis button below.</p>     
      <p>
	 <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton--{{forloop.counter0}}" onclick = "javascript:submitDownloadData(this);" >Download File</button>&nbsp;&nbsp;				     
	 <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDEGButton" id="submitDownloadDEGButton-0-{{forloop.counter0}}" onclick = "javascript:displayLimmaResults(this);" >View Analysis</button>&nbsp;&nbsp;			     
      </p>       
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#filePanel-{{forloop.counter0}}">
	  	   {{ fileObj.datafileName }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="filePanel-{{forloop.counter0}}" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		<div class="table-responsive">
		 <table class="table table-striped table-bordered table-hover" id = "dataTable-{{forloop.counter0}}" >
		   <thead>
		     <tr>
		       {% for column in fileObj.columns %}
		       <th>
		       {{column}}
		       </th>
		       {% endfor %}
		     </tr>
		   </thead>
		   <tbody>
		     {% for dataRow in fileObj.dataMatrix %}
		      <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
			  {% for elem in dataRow %}
  			  <td>
			    {{elem}}
  			  </td>
			  {% endfor %}			
		      </tr>				   
		     {% endfor %}
		   </tbody>
		 </table>		    
	       </div>
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   <!--</div>      -->
  {% endfor %}  	      

      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:displayLimmaResults(this);">View Analysis</button>&nbsp;&nbsp;&nbsp;
   <button type="submit" class="btn btn-danger btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:submitListProjects(this);">Cancel</button>

 </p> 
</form>
{% endblock content %}
