{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#fileListTable').DataTable();

  } );

  function submitDataFileForm(obj){
      objId = obj.id;

      data = objId.split("-");

      if (data.length > 0){

         dataFileId = data[1];

      }

    $("#dataFileId").val(dataFileId);

    $("#dataFileForm").submit();
  }

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Files for project {{project.name}}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/displayFileDetails/">
 {% csrf_token %} 
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        File List
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
      {% for fileObj in fileLObjList%}   
      
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	    <div class="panel-heading">
	         <h4 class="panel-title">
	  	   <a data-toggle="collapse" data-parent="#accordion3" href="#filePanel-{{forloop.counter0}}">
	  	   {{ fileObj.fileName }} </b>&nbsp;(  Please click to toggle this panel. )
	  	   </a>
	         </h4>
	    </div>
	    <div id="filePanel-{{forloop.counter0}}" class="panel-collapse collapse in">
	      <div class="panel-body">	      
		  <div class="panel-group" id="accordion2">
		    <!-- start up panel -->
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#fileDetailsPanel-{{forloop.counter0}}">
				  File Data &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="fileDetailsPanel-{{forloop.counter0}}" class="panel-collapse collapse in" style="height:400px;overflow-y:auto;"  -webkit-scrollbar>
			    <div class="panel-body">
			      <p>&nbsp;</p>
			      
			      <p>
				 <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton--{{forloop.counter0}}" onclick = "javascript:submitApplyFilter(this);">Apply Filter</button>&nbsp;&nbsp;				     
				 <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDEGButton" id="submitDownloadDEGButton-0-{{forloop.counter0}}" onclick = "javascript:submitDownloadDEGData(this);" >Download Filtered Records</button>&nbsp;&nbsp;			     
			      </p>			      
			
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" id = "geneUpTable-{{forloop.counter0}}" >
				 <thead>
				   <tr>
				     {% for column in fileObj.columns %}
				     <th>
				     {{column}}
				     </th>
				     {% endfor %}
				   </tr>
				 </thead>
				 <tbody>
				   {% for dataRow in fileObj.dataRows %}
				    <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
				      <td>
    					{% for elem in dataRow %}
	 					{{elem}}
					{% endfor %}
					<br/>
					  <div style="height:50px;overflow-y:auto;" id = "geneUp-{{forloop.parentloop.counter0}}-{{geneUpObj.geneId}}" name = "geneUp-{{forloop.parentloop.counter0}}-{{geneUpObj.geneId}}"></div>
				      </td>
				      <td>
					{{geneUpObj.logFC}}
				      </td>
				      <td>
					{{geneUpObj.aveExpr}}
				      </td>
				      <td>
					{{geneUpObj.pValue}}
				      </td>	
				      <td>
					{{geneUpObj.adjustedPValue}}
				      </td>				      
				    </tr>				   
				   {% endfor %}
				 </tbody>
			       </table>		    
			     </div>

			   </div>
			</div>
			
		    </div>
		    <!-- end up panel -->
		    <!-- start down panel -->
		    <div class="panel panel-danger" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
			      <a data-toggle="collapse" data-parent="#accordion2" href="#contrastsDownPanel-{{forloop.counter0}}">            
				  Down Regulated Genes &nbsp;(  Please click to toggle this panel. )
			      </a>
			    </h4>
			</div>
			<div id="contrastsDownPanel-{{forloop.counter0}}" class="panel-collapse collapse in" style="height:400px;overflow-y:auto;"  -webkit-scrollbar>
			  <div class="panel-body"> 
			      <p>&nbsp;</p>
      
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff pValue:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffDownPValue-{{forloop.counter0}}" name ="cutOffDownPValue-{{forloop.counter0}}" value="{{contrastObj.cutOffDownPValue}}" />
				</div>
				<p class="help-block">Please select cutoff pValue to filter lists below.</p>
			      </div>
			
			      <div class="form-group">
				<div class="text">
				  <label>
				    <b>CutOff log FC:&nbsp;</b>
				  </label>
				  <input type="text" id ="cutOffDownLogFC-{{forloop.counter0}}" name ="cutOffDownLogFC-{{forloop.counter0}}" value="{{contrastObj.cutOffDownLogFC}}" />
				</div>
				<p class="help-block">Please select cutoff logFC to filter lists below.</p>
			      </div>
			      
			     <p>
				<button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-1" id="applyFilterButton-1-{{forloop.counter0}}" onclick = "javascript:submitApplyFilter(this);">Apply Filter</button>&nbsp;&nbsp;				     
				<button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadDEGButton" id="submitDownloadDEGButton-1-{{forloop.counter0}}" onclick = "javascript:submitDownloadDEGData(this);" >Download Filtered Records</button>&nbsp;&nbsp;			     
			     </p>	
			     
			      <div class="table-responsive">
			       <table class="table table-striped table-bordered table-hover" id = "geneDownTable-{{forloop.counter0}}" >
				 <thead>
				   <tr>
				     <th>Gene Name</th>
				     <th>Log FC (Limma)</th>
				     <th>Avg Expr (Limma)</th>	
				     <th>P Value (Limma)</th>	
				     <th>Adj. P Value (Limma)</th>	
				   </tr>
				 </thead>
				 <tbody>
				   {% for geneDownObj in contrastObj.geneDownObjList %}
				    <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
				 
				      <td>{{geneDownObj.geneId}}
					<br/>
					  <div style="height:50px;overflow-y:auto;" id = "geneDown-{{forloop.parentloop.counter0}}-{{geneDownObj.geneId}}" name = "geneDown-{{forloop.parentloop.counter0}}-{{geneDownObj.geneId}}">
					  </div>				      
				      </td>
			      
				      <td>
					{{geneDownObj.logFC}}
				      </td>
				      <td>
					{{geneDownObj.aveExpr}}
				      </td>
				      <td>
					{{geneDownObj.pValue}}
				      </td>				      
				      <td>
					{{geneDownObj.adjustedPValue}}
				      </td>				      
				    </tr>               
				   {% endfor %}
				 </tbody>
			       </table>		    
			     </div>
			  </div>
			</div>

		    </div>
		    <!-- end down panel -->
		    
		    <!-- start scatter panel -->
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#contrastsScatterPanel-{{forloop.counter0}}">
				  Scatter Plots &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="contrastsScatterPanel-{{forloop.counter0}}" class="panel-collapse collapse in" style="height:600px;overflow-y:auto;"  -webkit-scrollbar>
			    <div class="panel-body">
			      <p>&nbsp;</p>
                            
			      <p>

			      {{ contrastObj.bokehPlotScript | safe }}
					  <div class="bokeh_plots" id="bokehPlot-{{contrastObj.contrast}}">
					    {{ contrastObj.bokehPlotDiv | safe }}
					  </div> <!-- #bokeh_plots -->
			      

			      </p>
			      
			      <p>
				<img src = "/static/img/plots/{{contrastObj.scatterPlotName}}.png" width="750px" height="600px"/>
			      </p> 			      
			   </div>
			</div>
		    </div>
		    <!-- end scatter panel -->		    
		    
		    <!-- start heatmap panel -->
		    <div class="panel panel-success" style="overflow-x:auto;">
			<div class="panel-heading">
			    <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion2" href="#contrastsHeatMapPanel-{{forloop.counter0}}">
				  Heat Maps / Cluster Plots &nbsp;(  Please click to toggle this panel. )
				</a>
			      </h4>
			</div>
			<div id="contrastsHeatMapPanel-{{forloop.counter0}}" class="panel-collapse collapse in" style="height:600px;overflow-y:auto;"  -webkit-scrollbar>
			    <div class="panel-body">
			      <p>&nbsp;</p>
                            
			      <p>
				<img src = "/static/img/plots/{{contrastObj.clusterMapName}}.png" width="800px" height="650px"/>
			      </p> 			      
			   </div>
			</div>
		    </div>
		    <!-- end scatter panel -->	

		    <div class="form-group">
		      <div class="text">
			<label>
			  <b>Enter custom list:&nbsp;</b>
			</label>
			<input  class="form-control" type="file" id ="customGeneListFile-{{forloop.counter0}}" name ="customGeneListFile-{{forloop.counter0}}" value="" />
		      </div>
		      <p class="help-block">Please upload custom list for heatmap.</p>
		    </div>	
		    
		   <p>
		      <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "submitCustomGeneListButton-{{forloop.counter0}}" id="submitCustomGeneListButton--{{forloop.counter0}}" onclick = "javascript:submitCustomGeneList(this);">Draw ClusterMap</button>			     
		   </p>			      		    

                   </div>
		  <!-- end contrast panel -->		    

		  </div>
		  <!-- end panel group -->			  
	      </div>
	      <!-- end panel body -->			    
	  </div>
      </div>     
   <!--</div>      -->
  {% endfor %}  	      

      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitDataFileHandlerForm(this);">Back to Project List</button>&nbsp;&nbsp;&nbsp;
   <button type="submit" class="btn btn-danger btn-lg" value = "1" name="submitButton" id="submitButton-1" onclick ="javascript:submitDataFileHandlerForm(this);">Add Data File</button>

 </p> 
</form>
{% endblock content %}
