{% extends "base.html" %}
{% block css %}
<style>
text{
	font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}

</style>

{% endblock css%}
{% block js %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>

<script type="text/javascript">

  $(document).ready(function() {

    $('#pubmedTable').DataTable(        {"scrollX": true,"searching": false, "bSort": false, "bInfo":false});
    
  });
  
  function submitFetchOmniDetail(entrezId, feature){
  
    $("#downloadFlag").val("0");  

    $("#entrezId").val(entrezId);
    $("#feature").val(feature);
    $("#dataFileForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#dataFileForm").submit();

  } 
    
  function submitFetchTermDetails(termId1, termId2, term1, term2){
  
    $("#downloadFlag").val("0");  

    $("#termId1").val(termId1);
    $("#termId2").val(termId2);

    $("#term1").val(term1);
    $("#term2").val(term2);
    $("#dataFileForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#dataFileForm").submit();

  } 
    
  function submitCancel(){

    $("#downloadFlag").val("0");
    $("#dataFileForm").attr("action","/lymePortal/literatureHome/");
    $("#dataFileForm").submit();

  } 

  function submitDownloadData(){
  
    $("#downloadFlag").val("1");
    $("#dataFileForm").attr("action","/lymePortal/secondaryLiteratureHome/");
    $("#dataFileForm").submit();

  } 
  
  function submitFilter(){

    $("#downloadFlag").val("0");
    $("#dataFileForm").attr("action","/lymePortal/secondaryLiteratureHome/");
    $("#dataFileForm").submit();

  } 
      
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Literature Details</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "get" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/secondaryLiteratureHome/">
 {% csrf_token %}
 
 <input type="hidden" value="0" name="downloadFlag" id ="downloadFlag"/> 
 
 <input type="hidden" value="" name="term1" id ="term1"/>
 <input type="hidden" value="" name="term2" id ="term2"/>
 <input type="hidden" value="" name="termId1" id ="termId1"/>
 <input type="hidden" value="" name="termId2" id ="termId2"/>
 <input type="hidden" value="" name="entrezId" id ="entrezId"/>
 <input type="hidden" value="" name="entrezIds" id ="entrezIds" value={{entrezIds}}/>
 <input type="hidden" value="" name="feature" id ="feature"/>
 <input type="hidden" value="" name="dataFileId" id ="dataFileId"/>
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
 
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Pubmed 
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
        <div class="table-responsive" >
	
	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Search Primary Term:&nbsp;</b>
		</label>
		<input type="text" id ="searchPrimaryTerm" name ="searchPrimaryTerm" value="{{searchPrimaryTerm}}" />
	      </div>
	      <p class="help-block">Search Term.</p>
	    </div>

	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Search Primary Term Type:&nbsp;</b>
		</label>
		<select id ="searchPrimaryTermType" name ="searchPrimaryTermType" value="" >
		  <option value = "">--Select Type--</option>
		  {% for searchPrimaryTermType1 in searchPrimaryTermTypes %}
		    <option value = "{{searchPrimaryTermType1}}" {% if searchPrimaryTermType1 == searchPrimaryTermType %} selected {% endif %}>{{searchPrimaryTermType1}}</option>
		  {% endfor %}
		</select>
	      </div>
	      <p class="help-block">Search Primary Term Type.</p>
	    </div>
	    	
	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Search Secondary Term:&nbsp;</b>
		</label>
		<input type="text" id ="searchSecondaryTerm" name ="searchSecondaryTerm" value="{{searchSecondaryTerm}}" />
	      </div>
	      <p class="help-block">Search Term.</p>
	    </div>

	    <div class="form-group">
	      <div class="text">
		<label>
		  <b>Search Secondary Term Type:&nbsp;</b>
		</label>
		<select id ="searchSecondaryTermType" name ="searchSecondaryTermType" value=""  >
		  <option value = "">--Select Type--</option>
		  {% for searchSecondaryTermType1 in searchSecondaryTermTypes %}
		    <option value = "{{searchSecondaryTermType1}}" {% if searchSecondaryTermType1 == searchSecondaryTermType %} selected {% endif %}>{{searchSecondaryTermType1}}</option>
		  {% endfor %}
		</select>
	      </div>
	      <p class="help-block">Search Secondary Term Type.</p>
	    </div>	    
	    
	   <p>
	      <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "applyFilterButton-{{forloop.counter0}}" id="applyFilterButton--{{forloop.counter0}}" onclick = "javascript:submitFilter(this);">Submit</button>&nbsp;&nbsp;				     
	      <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitDownloadButton" id="submitDownloadButton" onclick = "javascript:submitDownloadData(this);">Download CSV</button>&nbsp;&nbsp;			     
	   </p>
	    <p> Showing <b>{{showingRecCount}}</b> of <b>{{totalRecCount}}</b> Records.

	  <table id="pubmedTable" class="display" cellspacing="0" width="100%">

	    <thead>
	    
	      <th>Primary Term</th>
	      <th>Primary Term Type</th>
	      <th>Primary DBID</th>
	      <th>Secondary Term</th>
	      <th>Secondary Term Type</th>
	      <th>Secondary DBID</th>	      
	      <th>Relationship</th>
	      <th>Log Adjusted P Value</th>
	      <th>PMIDs</th>

	    </thead>
  
	    <tbody>
	    
           {% for rec in pubmedRecords %}
             <tr>
		  <td>{{rec.0}}</td>
		  <td>{{rec.1}}</td>
		  <td>{{rec.2}}</td>
		  <td>{{rec.3}}</td>
		  <td>{{rec.4}}</td>
		  <td>{{rec.5}}</td>
		  <td>{{rec.6}}</td>		  
		  <td>{{rec.7}}</td>
		  <td><a href="#" onclick="javascript:submitFetchTermDetails('{{rec.8}}','{{rec.9}}','{{rec.0}}','{{rec.3}}')"><i class="fa fa-bars" aria-hidden="true"></i></a></td>
	      </tr>
	    {% endfor %}
	    </tbody>
          </table>

         </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p>
</form>
{% endblock content %}
