{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}

<script>

  $(document).ready(function() {

  });
  
  
  function submitScatter(obj){

    $("#analyzeFileResultsForm").attr("action","/lymePortal/showPlots/");
    $("#analyzeFileResultsForm").submit();

  }   

  function submitCancel(obj){

    $("#analyzeFileResultsForm").attr("action","/lymePortal/displayLimmaResults/");
    $("#analyzeFileResultsForm").submit();

  }   

    
</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Plots for {{contrastObj.contrast}}</h1>

    
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "get" id="analyzeFileResultsForm" name="analyzeFileResultsForm" enctype="multipart/form-data" action="/lymePortal/showPlots/">
{% csrf_token %} 

<input type="hidden" value="{{contrastNum}}" name="contrastNum" id ="contrastNum"/> 

 <div class="row">  
  <!-- panel for sites -->  
  <div class="col-lg-12">
      
    <!-- Example row of columns -->   
    <div class="panel panel-primary">
      <div class="panel-heading">
	<h4 class="panel-title">
	  <a data-toggle="collapse" data-parent="#panels1" href="#contrastListPanel">
	     Show plots for {{contrastObj.contrast}} </b>&nbsp;( Please click to toggle this panel. )
	  </a>
	</h4>
      </div>
      <div id="contrastListPanel" class="panel-collapse collapse in">
            <div class="panel-body" >
      <br/>
      
      <div class="panel-group" id="accordion1">
        <div class="panel panel-warning">
	  <div class="panel-heading">
	       <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion3" href="#scatterPlotPanel">
		 Scatter Plot </b>&nbsp;(  Please click to toggle this panel. )
		 </a>
	       </h4>
	  </div>
	  <div id="scatterPlotPanel" class="panel-collapse collapse in">

	      <div class="panel-body">
		<p>&nbsp;</p>

		<div class="form-group">
		  <div class="text">
		    <label>
		      <b>Custom Gene List:&nbsp;</b>
		    </label>
		    <input type="text" id ="customGeneList" name ="customGeneList" value="{{contrastObj.customGeneList}}" />
		  </div>
		  <p class="help-block">Please enter no more than 5 gene symbols for annotation in the scatter plot.</p>
		</div>
	  
	       <p>
		  <button type="submit" class="btn btn-primary btn-lg" value = "1" name = "submitScatter" id="submitScatter" onclick = "javascript:submitScatter(this);">Submit</button>&nbsp;&nbsp;				     
	       </p>			      
	  
	       <p>
		 <img src = "/static/img/plots/{{contrastObj.scatterPlotName}}.png" width="750px" height="600px"/>
	       </p> 			      

	     </div>
	     
	  </div>
	  <!-- end panel body -->			    

	</div>
      </div>

    </div>
</div>     
      
<p>      
    <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitCancelButton" id="submitCancelButton" onclick = "javascript:submitCancel(this);" > Cancel</button>
</p>

   </div>
  <!--<!-- /.col-lg-12 -->  
<!--<!-- /.row -->

</div>

</form>
{% endblock content %}
