{% extends "base.html" %}
{% block css %}

{% endblock css%}
{% block js %}

<script type="text/javascript">

  $(document).ready(function() {
  
      {% for k,v in geneImageMap.items %}
        $('#dataFileTable-{{forloop.counter0}}').DataTable({"aaSorting": []});
      {% endfor %}

  });

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Box plots</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "dataFileForm" name = "dataFileForm" action="/lymePortal/displayLimmaResults/">
 {% csrf_token %}
 <input type="hidden" value="{{project.id}}" name="projectId" id ="projectId"/>
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#listPlotsPanel">      
	      Box plots
	    </a>
	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" id="listPlotsPanel" class="panel-collapse collapse in">
      {% for k,v in geneImageMap.items %}
	<div class="panel panel-warning">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#panels1" href="#plotPanel-{{forloop.counter0}}">      
		{{k}}
	      </a>
	    </h4>	  
	  </div>
	  <!-- /.panel-heading -->
	  <div class="panel-body" id="plotPanel-{{forloop.counter0}}" class="panel-collapse collapse in">      
	    <p>
	       <img src = "/static/img/plots/{{v.0}}.png"  style = "width:600px;height:400px;" />
	    </p>
	      <div class="table-responsive" >
		<table id="dataFileTable-{{forloop.counter0}}" class="display" cellspacing="0" width="100%">
		 <thead>
		    <tr >
		      <th>Expression</th>
		      <th>SampleId</th>
		      <th>Status</th>
		      <th>Visit</th>
		    </tr>
		 </thead>
		 <tbody>
		 {% for row in v.1 %}
		   <tr>
		     <td>{{ row.0 }} </td>
		     <td>{{ row.1 }} </td>
		     <td>{{ row.2 }} </td>
		     <td>{{ row.3 }} </td>
		   </tr>
		 {% endfor %}
		 </tbody>
		</table>
	      </div>
	      <!-- /.table-responsive -->
	    </div>
	    <!-- /inner panel body -->	    
	  </div>
	  <!-- /inner panel -->	    
	{% endfor %}
      </div>
      <!-- /.panel-body -->
    </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>

 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitDataFileHandlerForm(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p>
</form>
{% endblock content %}
