{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">
  $(document).ready(function() {
  
    $('#dataFileTable').DataTable();
    $('#limmaTable').DataTable();
    $('#pubmedTable').DataTable();
    $('#evidenceTable').DataTable({'scrollX':true});

  } );

  function fetchAnalysis(obj){

    $("#projectForm").attr("action","/lymePortal/displayLimmaResults/");

    $("#projectForm").submit();
  }
  
  function submitCancel(obj){
    $("#cancelFlag").val("1");

    $("#projectForm").attr("action","/lymePortal/evidenceMatrixHome/");

    $("#projectForm").submit();
  }  

  function listDatafiles(obj){

    projectId = obj.id.split("-")[1]

    $("#projectId").val(projectId);

    $("#projectForm").attr("action","/lymePortal/listDatafiles/");

    $("#projectForm").submit();
  }
  
  function submitFetchOmniDetail(entrezId, feature){
  
    $("#cancelFlag").val("0");

    $("#entrezId").val(entrezId);
    $("#feature").val(feature);
    $("#projectForm").attr("action","/lymePortal/fetchOmniDetail/");
    $("#projectForm").submit();

  } 
    
  function submitFetchTermDetails(termId1, termId2, term1, term2){

    $("#cancelFlag").val("0");
    $("#termId1").val(termId1);
    $("#termId2").val(termId2);

    $("#term1").val(term1);
    $("#term2").val(term2);
    $("#projectForm").attr("action","/lymePortal/fetchPmidDetail/");
    $("#projectForm").submit();

  }     
  
  function displayLimmaResults(entrezId, feature){
  
    $("#cancelFlag").val("0");

    $("#projectForm").attr("action","/lymePortal/displayLimmaResults/");
    $("#projectForm").submit();

  }   

</script>

{% endblock js %}

{% block content %}
<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <p> The gene <b>{{geneSymbol}}</b> was found to be differentially expressed in the below data set. It was differentially expressed at time points {{timePointsString}}. To view details of the differential gene expression, please see the details below.</p>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Data for {{geneSymbol}}</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "projectForm" name = "projectForm" action="/lymePortal/displayLimmaResults/">
 {% csrf_token %}

 <input type="hidden" value="{{filterString}}" name="filterString" id ="filterString"/>
 <input type="hidden" value="{{sortColumn}}" name="sortColumn" id ="sortColumn"/>
 <input type="hidden" value="{{sortDirection}}" name="sortDirection" id ="sortDirection"/>
 
 <input type="hidden" value="{{lymeEvidenceFilter}}" name="lymeEvidenceFilter" id ="lymeEvidenceFilter"/>
 <input type="hidden" value="{{sortLymeEvidence}}" name="sortLymeEvidence" id ="sortLymeEvidence"/>

 <input type="hidden" value="{{pageNum}}" name="pageNum" id ="pageNum"/> 
 
 <input type="hidden" value="" name="term1" id ="term1"/>
 <input type="hidden" value="" name="term2" id ="term2"/>
 <input type="hidden" value="" name="termId1" id ="termId1"/>
 <input type="hidden" value="" name="termId2" id ="termId2"/>

 <input type="hidden" value="" name="entrezId" id ="entrezId"/>

 <input type="hidden" value="" name="feature" id ="feature"/> 
 <input type="hidden" value="0" name="cancelFlag" id ="cancelFlag"/> 
 
 <p>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
 </p>
  <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#listPlotsPanel">      
	      Data for {{geneSymbol}}
	    </a>
	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" id="listPlotsPanel" class="panel-collapse collapse in">
	<div class="panel panel-warning">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#panels1" href="#plotPanel">      
		Box Plot
	      </a>
	    </h4>	  
	  </div>
	  <!-- /.panel-heading -->
	  <div class="panel-body" id="plotPanel" class="panel-collapse collapse in">      
	    <p>
	       <img src = "/static/img/plots/{{boxPlotImage}}.png"  style = "width:600px;height:400px;" />
	    </p>
	  </div>
	    <!-- /inner panel body -->	    
	</div>
	<!-- /inner panel -->	    
	<div class="panel panel-warning">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#panels1" href="#rawDataPanel">      
		Raw Count Data
	      </a>
	    </h4>	  
	  </div>
	  <!-- /.panel-heading -->
	  <div class="panel-body" id="rawDataPanel" class="panel-collapse collapse">      
	      <div class="table-responsive" >
		<table id="dataFileTable" class="display" cellspacing="0" width="100%">
		 <thead>
		    <tr >
		      <th>Expression</th>
		      <th>SampleId</th>
		      <th>Status</th>
		      <th>Visit</th>
		    </tr>
		 </thead>
		 <tbody>
		 {% for row in boxPlotData %}
		   <tr>
		     <td>{{ row.0 }} </td>
		     <td>{{ row.1 }} </td>
		     <td>{{ row.2 }} </td>
		     <td>{{ row.3 }} </td>
		   </tr>
		 {% endfor %}
		 </tbody>
		</table>
	      </div>
	      <!-- /.table-responsive -->
	    </div>
	    <!-- /inner panel body -->	    
	  </div>
	  <!-- /inner panel -->	    
	<div class="panel panel-warning">
	  <div class="panel-heading">
	    <h4 class="panel-title">
	      <a data-toggle="collapse" data-parent="#panels1" href="#limmaResultsPanel">      
		Limma Results
	      </a>
	    </h4>	  
	  </div>
	  <!-- /.panel-heading -->
	  <div class="panel-body" id="limmaResultsPanel" class="panel-collapse collapse">      
	      <div class="table-responsive">
	       <table class="table table-striped table-bordered table-hover" id = "limmaTable" >
		 <thead>
		   <tr>
		     <th>File Name</th>
		     <th>Log FC (Limma)</th>
		     <th>t</th>	
		     <th>P Value (Limma)</th>					     
		     <th>Adj. P Value (Limma)</th>	
		   </tr>
		 </thead>
		 <tbody>
		   {% for geneObj in geneObjList %}
		    <tr class="{% cycle 'odd gradeX' 'even gradeC' %}" >				   
		      <td>
			{{geneObj.fileName}}
		      </td>
		      <td>
			{{geneObj.logFC}}
		      </td>
		      <td>
			{{geneObj.tValue}}
		      </td>
		      <td>
			{{geneObj.pValue}}
		      </td>	
		      <td>
			{{geneObj.adjustedPValue}}
		      </td>
		    </tr>				   
		   {% endfor %}
		 </tbody>
	       </table>		    
	     </div>
	      <p class="text-center">
	    
	       <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:displayLimmaResults(this);">Limma Results</button>&nbsp;&nbsp;&nbsp;
	    
	     </p> 	     

	    </div>
	    </div>
		    <!-- /inner panel body -->	 
	    <div class="panel panel-warning">
	      <div class="panel-heading">
		Pubmed 
	      </div>
	      <!-- /.panel-heading -->
	      <div class="panel-body" >
		<div class="table-responsive" >
	
		  <table id="pubmedTable" class="display" cellspacing="0" width="100%">
	
		    <thead>
		    
		      <th>Primary Term</th>
		      <th>Primary Term Type</th>
		      <th>Primary DBID</th>
		      <th>Secondary Term</th>
		      <th>Secondary Term Type</th>
		      <th>Secondary DBID</th>	      
		      <th>Relationship</th>
		      <th>Log Adjusted P Value</th>
		      <th>PMIDs</th>
	
		    </thead>
	  
		    <tbody>
		    
		   {% for rec in pubmedRecords %}
		     <tr>
			  <td>{{rec.0}}</td>
			  <td>{{rec.1}}</td>
			  <td>{{rec.2}}</td>
			  <td>{{rec.3}}</td>
			  <td>{{rec.4}}</td>
			  <td>{{rec.5}}</td>
			  <td>{{rec.6}}</td>		  
			  <td>{{rec.7}}</td>
			  <td><a href="#" onclick="javascript:submitFetchTermDetails('{{rec.8}}','{{rec.9}}','{{rec.10}}','{{rec.11}}')">Articles</a></td>
		      </tr>
		    {% endfor %}
		    </tbody>
		  </table>
	
		 </div>
		<!-- /.table-responsive -->
	      </div>
	    
	  </div>
	  <!-- /inner panel -->	    
    <div class="panel panel-warning">
      <div class="panel-heading">
        Evidence
      </div>	  
      <div class="panel-body" >
        <div class="table-responsive" >
	  <table id="evidenceTable" class="display" cellspacing="0" width="100%">
	   <thead>
	      <tr >
		<th>Entrez Id</th>
		<th>Gene Symbol</th>	      
		<th>Chemical</th>
		<th>Disease</th>
		<th>Gene</th>	
		<th>SEA P</th>
		<th>Drug Bank</th>
		<th>Meta P</th>	
		<th>Skin P</th>
		<th>LCL P</th>
		<th>Fat P</th>
		<th>Proteomic</th>
		<th>Combined P: Meta &amp; Skin &amp; Proteomic</th>
		<th>Combined P: Meta &amp; Skin</th>
		<th>Combined P: &gt;&eq;2 {Meta | Skin | Proteomic}</th>

              </tr>
           </thead>
           <tbody>
	   
           {% for om in geneRecords %}
             <tr>
               <td><a href='https://www.ncbi.nlm.nih.gov/gene/{{ om.entrez_gene_id }}' target="_blank">{{om.entrezId}}</a></td>
               <td><a href='http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ om.geneSymbol }}' target="_blank">{{om.geneSymbol}}</a></td>
               <td>
	       {% if om.chemicalNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','chemical');"> {% endif %}
	           {{om.chemicalNLPLink}}
	       {% if om.chemicalNLPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.diseaseNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','disease');"> {% endif %}
	           {{om.diseaseNLPLink}}
	       {% if om.diseaseNLPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.geneNLPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','gene');"> {% endif %}
	           {{om.geneNLPLink}}
	       {% if om.geneNLPLink %}</a>{% endif %}	       
	       </td>
               <td>
	       {% if om.seaLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','sea');"> {% endif %}
	           {{om.seaLink}}
	       {% if om.seaLink %}</a>{% endif %}
	       </td>	       
               <td>
	       {% if om.drugBankLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','drugbank');"> {% endif %}
	           {{om.drugBankLink}}
	       {% if om.drugBankLink %}</a>{% endif %}
	       </td> 	       
               <td>
	       {% if om.metaPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','meta');"> {% endif %}
	           {{om.metaP}}
	       {% if om.metaPLink %}</a>{% endif %}	       
	       </td>	       
               <td>
	       {% if om.skinPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','skin_p');"> {% endif %}
	           {{om.skinP}}
	       {% if om.skinPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.lclPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','lcl_p');"> {% endif %}
	           {{om.lclP}}
	       {% if om.lclPLink %}</a>{% endif %}
	       </td>
               <td>
	       {% if om.fatPLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','fat_p');"> {% endif %}
	           {{om.fatP}}
	       {% if om.fatPLink %}</a>{% endif %}	       
	       </td>
               <td>
	       {% if om.proteomicsLink %}<a href="#" onclick="javascript:submitFetchOmniDetail('{{om.entrezId}}','proteomics');"> {% endif %}
	           {{om.proteomics}}
	       {% if om.proteomicsLink %}</a>{% endif %}
	       </td>
               <td>
	           {{om.combinedPMetaSkinProteomic}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkin}}
	       </td>	       
               <td>
	           {{om.combinedPMetaSkinProteomicGt2}}
	       </td>	       
	      </tr>
           {% endfor %}

           </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
    </div>

    </div>
    <!-- /.panel-body -->
    
  </div>

  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- row -->
 <!-- /.row -->
  <p class="text-center">

   <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton-0" onclick ="javascript:submitCancel(this);">Cancel</button>&nbsp;&nbsp;&nbsp;

 </p> 
</form>
{% endblock content %}
