{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#projectsTable').DataTable();

  } );

  function fetchAnalysis(obj){

    $("#projectForm").attr("action","/lymePortal/displayLimmaResults/");

    $("#projectForm").submit();
  }


</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Data Files</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<form method = "post" id = "projectForm" name = "projectForm" action="/lymePortal/displayLimmaResults/">
 {% csrf_token %}
 <input type="hidden" value="" name="projectId" id ="projectId"/>
 <p>
  {% if messages %}
    <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><font color="red">{{ message }}</font></li>
    {% endfor %}
    </ul>
  {% endif %}
 </p>
 <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
      	  <h4 class="panel-title">
	    <a data-toggle="collapse" data-parent="#panels1" href="#listProjectsPanel">
		List of Data Files. (Click to toggle this panel.)
	    </a>
	  </h4>
      </div>
      <!-- /.panel-heading -->
      <div id="listProjectsPanel" class="panel-collapse collapse in" style="overflow-y:auto;height:300px;" -webkit-scrollbar>
      <div class="panel-body" >
        <p>
	  Please cick on analysis button to view the ananlysis compelted on the data files. Analysis depends on the type of data.<br/> 
	  If you would like to send us data for analysis and for use in our portal, please write to us at info@ingh.org. 
	</p>
        <div class="table-responsive" >
	  <table id="projectsTable" class="display" cellspacing="0" width="100%">
	   <thead>
	      <tr >
		<th>Name</th>
		<th>Description</th>
		<th>Data</th>
		<th>Analysis</th>
              </tr>
           </thead>
           <tbody>
           {% for project in projects %}
             <tr>
               <td> {{ project.name }}  </td>
               <td> {{ project.description }}  </td>
               <td><button type="button" class="btn btn-primary" id = "projectButton-{{projectObj.project.id}}" name = "projectButton-{{projectObj.project.id}}" onclick ="javascript:submitProjectAnalyze(this);" disabled>Data</button> </td>
               <td><button type="button" class="btn btn-primary" id = "projectButton-{{projectObj.project.id}}" name = "projectButton-{{projectObj.project.id}}" onclick ="javascript:fetchAnalysis(this);">Analysis </button></td>
             </tr>
           {% endfor %}
           </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.panel-body -->
      </div>
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->
</form>
{% endblock content %}
